.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

tr.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.entry-success {
    background-color: var(--p-accent-700);
    color: var(--p-text-100);
}
.entry-success:hover {
    background-color: var(--p-accent-700);
    color: var(--p-text-100);
}

.entry-failure {
     background-color:var(--p-accent-400);
     color: var(--p-text-100);
 }

.entry-failure:hover {
    background-color:var(--p-accent-400);
    color: var(--p-text-100);
}

.entry-deactivated{
    background-color: var(--p-accent-900);
}
.entry-deactivated:hover {
    background-color: var(--p-accent-900);
}
