<div >
  <h4 class="header">{{'MONITOR_DETAILS.HEADER' | translate}}</h4>
  @if (monitorEntry) {
    <form (submit)="submit()" class="form-horizontal" #monitorForm="ngForm">
      <div class="background-section">
        <div class="grid col-12">
          <label for="serviceName" class="col-2 control-label">{{'MONITOR_DETAILS.SERVICE_NAME' | translate}}:</label>
          <div class="sm:col-10">
            <p class="control-label" id="serviceName" style="float: left; padding: 0" >{{services[monitorEntry.serviceName]}}</p>
          </div>
        </div>
        <div class="grid col-12">
          <label for="checkInterval" class="col-2 control-label">{{'MONITOR_DETAILS.INTERVAL' | translate}}:</label>
          <div class="sm:col-10 grid">
            <div class="sm:col-5">
              <input pInputText type="number" class="form-control no-spin" [disabled]="isInMode(ComponentMode.VIEW)" id="checkInterval"
                name="checkInterval" [(ngModel)]="monitorEntry.checkInterval" #interval="ngModel" required/>
              </div>
              <div class="sm:col-5">
                <select style="background: var(--p-surface-300); border: 1px solid var(--p-accent-600); color: var(--p-text-0);" class="form-control" id="timeFormat" name="timeFormat"
                  [(ngModel)]="monitorEntry.timeFormat"
                  [disabled]="isInMode(ComponentMode.VIEW)"
                  required [ngModelOptions]="{standalone: true}"
                  #timeFormat="ngModel">
                  @for (format of formats | keys; track format) {
                    <option [ngValue]="format.value">
                    {{format.value.toLocaleLowerCase()}}</option>
                  }
                </select>
              </div>
            </div>
            <div class="sm:col-12">
              @if (interval.invalid && (interval.dirty || interval.touched)) {
                <div class="alert alert-danger">
                  @if (interval.errors.required) {
                    <div>{{'MONITOR_DETAILS.INTERVAL_REQUIRED_ERROR' | translate}}</div>
                  }
                </div>
              }
            </div>
            <div class="sm:col-12">
              @if (timeFormat.invalid && (timeFormat.dirty || timeFormat.touched)) {
                <div class="alert alert-danger">
                  @if (timeFormat.errors.required) {
                    <div>{{'MONITOR_DETAILS.TIME_FORMAT_REQUIRED_ERROR' | translate}}</div>
                  }
                </div>
              }
            </div>
          </div>
          @if (errMsg) {
            <div class="alert alert-danger">
              {{errMsg}}
            </div>
          }
          <div class="flex justify-content-end" style="gap: 10px">
            <button type="button" class="btn btn-secondary" [routerLink]="['/admin/monitor']">{{'MONITOR_DETAILS.GO_BACK_BUTTON' | translate}}</button>
            @if (!isInMode(ComponentMode.VIEW)) {
              <button [disabled]="!monitorForm.form.valid" type="submit"
              class="btn btn-primary">{{'MONITOR_DETAILS.SUBMIT_BUTTON' | translate}}</button>
            }
          </div>
        </div>
      </form>
    }
    @if (!monitorEntry) {
      <div>{{'MONITOR_DETAILS.NOT_FOUND_ERROR' | translate}}</div>
    }
  </div>
