<div class="col-sm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
    <h3>{{ 'DOMAINS.TITLE' | translate }}</h3>
    <div class="flex space-between">
        <div class="flex">
            <a *roles="['ROLE_SYSTEM_ADMIN']" [routerLink]="['add']" class="btn btn-primary"
               role="button">{{'DOMAINS.ADD_BUTTON' | translate}}</a>
        </div>
        <div *roles="['ROLE_SYSTEM_ADMIN']" class="flex" style="align-content: center; margin-top: 8px;">
            <span style="align-content: center; margin-right: 5px;"> {{'DOMAINS.NOTACTIVE' | translate}}</span>
            <p-checkbox id="showNotActive" [binary]="true" [(ngModel)]=" showNotActive"></p-checkbox>
        </div>
        <div class="flex">
            {{ 'DOMAINS.ITEMS_PER_PAGE' | translate }}:
            <span id="selectionItems" class="dropdown" style="vertical-align: middle; display: inline-block; margin-right: 1rem;">
        <button class="dropdown-toggle btn" data-toggle="dropdown" data-close-others="true">
            <span class="flex mt-2 mr-1">{{maxItemsOnPage}}</span>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let item of itemsPerPage" [ngClass]="{'active': maxItemsOnPage == item}">
                <a (click)="setItems(item)">
                    <span>{{item.toString()}}</span>
                </a>
            </li>
        </ul>
    </span>
            <input pInputText class="flex" name="search" id="search" placeholder="Search" type="text" style="height: 34px" (keydown)="changelog()" [(ngModel)]="searchValue">
        </div>
    </div>
    <br>
    <table #table class="table table-hover table-condensed" aria-describedby="Domains list" sortable-table (sorted)="onSort($event)">
        <thead>
        <tr>
            <th scope="col" class="column-sortable" sortable-column="codename" sort-direction="asc">{{ 'DOMAINS.CODE_NAME' | translate }}
            </th>
            <th scope="col" class="column-sortable" sortable-column="name" >{{ 'DOMAINS.NAME' | translate }}
            </th>
            <th scope="col" class="column-sortable" sortable-column="active" >{{ 'DOMAINS.ACTIVATE' | translate }}
            </th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <ng-template ngFor let-domain
                     [ngForOf]="domains | async | searchDomain: searchValue: showNotActive | paginate: {itemsPerPage: maxItemsOnPage, currentPage: p}">
            <tr *ngIf="!domain.deleted" class="clickable" [routerLink]="['view/', domain.id]">
                <td>{{domain?.codename}}</td>
                <td>{{domain?.name}}</td>
                <td><span class="glyphicon glyphicon-ok" *ngIf="domain?.active"></span><span
                        class="glyphicon glyphicon-remove" *ngIf="!(domain?.active)"></span></td>
                <td class="text-right">
					<span class="dropdown">
						<a style="display: inline-block; text-align:right" class="dropdown-toggle " aria-expanded="false"
                           aria-haspopup="true"
                           data-toggle="dropdown" href="#" role="button">
							<em class="fas fa-cog icon-black icon-bigger"></em>
						</a>
						<ul class="dropdown-menu pull-right-drop">
							<li><a [routerLink]="['view/', domain.id]" class="">
								{{ 'DOMAINS.DETAILS_BUTTON' | translate }}</a>
							</li>
							<li><a *roles="['ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']" [routerLink]="['edit/', domain.id]"
                                   class="">{{ 'DOMAINS.EDIT_BUTTON' | translate }}</a>
							</li>
							<li><a *roles="['ROLE_SYSTEM_ADMIN']" (click)="$event.stopPropagation(); changeState(domain)"
								   class="">{{ getStateLabel(domain?.active) }}</a>
							</li>
							<li><a *roles="['ROLE_SYSTEM_ADMIN']" (click)="$event.stopPropagation(); openRemovalModal(domain)"
								   class="">{{ 'DOMAINS.DELETE_BUTTON' | translate }}</a>
							</li>
						</ul>
					</span>
                </td>
            </tr>
        </ng-template>
        </tbody>
    </table>
    <pagination-controls class="text-right" (pageChange)="p = $event"
                         previousLabel="{{ 'PAGINATION.PREVIOUS' | translate }}"
                         nextLabel="{{ 'PAGINATION.NEXT' | translate }}"
                         screenReaderPaginationLabel="{{ 'PAGINATION.SCREEN_READER.PAGINATION' | translate }}"
                         screenReaderPageLabel="{{ 'PAGINATION.SCREEN_READER.PAGE' | translate }}"
                         screenReaderCurrentLabel="{{ 'PAGINATION.SCREEN_READER.CURRENT' | translate }}"></pagination-controls>

</div>

<app-removal-confirmation-modal [domain]="domainToRemove" (onConfirm)="softRemoveDomain(domainToRemove.id)"></app-removal-confirmation-modal>
