.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

tr.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    border: 1px solid #E0E2E5;
    background:transparent;
    border-width: 0 0 1px 0;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #E0E2E5;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}
:host ::ng-deep .p-datatable .p-paginator-bottom{
    height: 40px;
    background: transparent;
    border: none;
    margin-top:10px;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr{
    background: transparent;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    transition: unset;
    border-radius: 50%;
    min-width:3.5rem;
    height:3.5rem;
    margin:0 5px;
    font-size: 14px;
}

:host ::ng-deep .p-paginator-element{
    border-radius:50%;
    margin:0 5px;
    min-width:3.5rem;
    height:3.5rem;
    font-size: 14px;
}
:host ::ng-deep .p-paginator .p-dropdown{
    height:3rem;
}
:host ::ng-deep .p-paginator-icon{
    height: 1.5rem;
    width: 1.5rem;
}
:host ::ng-deep .p-paginator .p-dropdown .p-dropdown-label{
    padding-right: 10px;
}

label{
    padding-left:5px;
    display: unset;
    margin-bottom: 0;
    font-weight: unset;
}
