.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

tr.clickable {
    cursor: pointer;
}

/*.dropdown:hover .dropdown-menu {*/
/*    display: block;*/
/*}*/

.space-between {
    display: flex;
    justify-content: space-between;
}
label{
    padding-left:5px;
    display: unset;
    margin-bottom: 0;
    font-weight: unset;
}

:host ::ng-deep .p-datatable-table-container{
    overflow: unset !important;
}
