body{
	color: var(--text-color)
}

.app-card{
	color: var(--p-text-50);
	min-height:250px;
	background: var(--p-background-50);
	border-radius: 10px;
	margin:10px 0;
	padding:30px 15px;
}
.app-name {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}
.element-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.subscribed {
	position: absolute;
	right: 30px;
	top: 25px;
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: #FFFFFF;
	box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
}
.star{
	color: var(--p-accent-500);
	font-size: 16px;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container {
	max-width: 150px;
	max-height: 100px;
}

.image-container-outer {
	width: 150px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.description-container {
	width: 100%;
}

.text-two-lines {
	width: 100%;
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
	/*this ia a dirty hack to force ellipsis*/
	/*https://css-tricks.com/line-clampin/#article-header-id-0*/
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.bottom-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.flex-spacer-bottom-container {
	width: 100%;
}

.label-font {
	display: inline;
	color: #5cb85c;
	font-size: 14px;
	padding: .2em .6em .2em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.clickable-tail {
	cursor: pointer;
	transition: all 300ms ease-out;
}

.clickable-tail:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	/*transform: scale(1);*/
	/*-webkit-transform: scale(1);*/
}
@media (min-width:1550px){
	.col-xl-3{
		width: 25%
	}
}
