
@if (app && showAppInList && !showSubscribed) {
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="app-card clickable-tail"  [routerLink]="['/apps', app.id]">
      <div class = "element-container">
        <div [class.subscribed]="selected">
          <i [class.pi]="selected" [class.pi-star-fill]="selected" [class.star]="selected"></i>
        </div>
        <div class="image-container-outer">
          <img class="center center-block image-container" alt="App logo" [src]="appImagesService.getAppLogoUrl(app?.id) | secure"
            onError="this.src='assets/images/app-logo-example.png';"  />
          </div>
          <div class="text-center description-container">
            <h3 class="app-name">{{app?.name}}</h3>
            <div class="text-two-lines">{{getDescription()?.briefDescription}}</div>
          </div>
        </div>
      </div>
    </div>
  }

  @if (selected && showAppInList && showSubscribed) {
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="app-card clickable-tail"  [routerLink]="['/apps', app.id]">
        <div class = "element-container">
          <div [class.subscribed]="selected">
            <i [class.pi]="selected" [class.pi-star-fill]="selected" [class.star]="selected"></i>
          </div>
          <div class="image-container-outer">
            <img class="center center-block image-container" alt="App logo" [src]="appImagesService.getAppLogoUrl(app?.id) | secure"
              onError="this.src='assets/images/app-logo-example.png';"  />
            </div>
            <div class="text-center description-container">
              <h3 class="app-name">{{app?.name}}</h3>
              <div class="text-two-lines">{{getDescription()?.briefDescription}}</div>
            </div>
          </div>
        </div>
      </div>
    }
