<div style="margin-top: 5rem">
    <p-table [value]="deploy.result">
        <ng-template pTemplate="header">
            <tr>
                <th>Created</th>
                <th>Info</th>
                <th>Details</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-deploy>
            <tr>
                <td>{{deploy.successful}}</td>
                <td>{{deploy.createdInfo}}</td>
                <td>{{getDetails(deploy)}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
