<div class="flex flex-column justify-content-between ">
    <div class="menu flex">
        <div>
            <img src="../../../assets/images/logo-small.png" width="250px">
        </div>
        <div style="margin-top: 30px">
            <nmaas-domain-filter class="drop-domain"></nmaas-domain-filter>
        </div>
        <ul style="margin-top: 30px">
          <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" >
              <a (click)="showToastTest()" style="display: flex; align-items: center;" [routerLink]="['/']">
                  <i class="pi pi-th-large" style="margin-right:10px; font-size: 15px"></i>Applications</a>
          </li>
          <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" >
              <a href="#" style="display: flex; align-items: center;" [routerLink]="['/instances']">
                  <i class="pi pi-server" style="margin-right:10px; font-size: 15px"></i>Instances</a>
          </li>
        </ul>
    </div>
    <div class="menu flex">
        <p-menu #menu [model]="items" [popup]="true" class="test" />
        <p-button (onClick)="menu.toggle($event)" class="user-button"><i class="pi pi-user" style="font-size: 13px; margin-right:10px"></i> User</p-button>
    </div>
</div>
