<div class="col-sm-12 col-sm-offset-1 col-sm 10 col-md-offset-1 col-md-10">
    <h3>{{'DOMAINS.LIST.GROUPS' | translate}}</h3>
    <button [routerLink]="['/admin/domains/groups/add']" class="btn btn-primary">{{ 'APPS_MANAGEMENT.ADD_BUTTON' | translate }}</button>
    <hr>
    <table class="table table-hover table-condensed" aria-describedby="Apps management table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{{'APPS_MANAGEMENT.NAME' | translate}}</th>
            <th scope="col">{{'DOMAINS.CODE_NAME' | translate}}</th>
            <th scope="col">{{'DOMAINS.LIST.DOMAIN_NAME' | translate}}</th>
            <th scope="col">{{'DOMAINS.LIST.DOMAIN_CODE_NAME' | translate}}</th>
        </tr>
        </thead>

        <tbody>
        <ng-template ngFor let-domainGroup [ngForOf]="groups" let-i="index">
            <tr class="table-row" (click)="clickTableRow(i)">
                <td style="width: 5%" *ngIf="!domainsRowVisible[i]"><span class="glyphicon glyphicon-chevron-right"></span></td>
                <td style="width: 5%" *ngIf="domainsRowVisible[i]"><span class="glyphicon glyphicon-chevron-down"></span></td>
                <td style="width: 25%">{{domainGroup?.name}}</td>
                <td style="width: 20%">{{domainGroup?.codename}}</td>
                <td style="width: 15%"></td>
                <td style="width: 15%"></td>
                <td style="width: 20%" class="text-right">
                    <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
<!--              <li>-->
<!--                <a (click)="showModal()">{{ 'ADD DOMAIN' }}</a>-->
<!--              </li>-->
              <li>
                <a [routerLink]="['/admin/domains/groups/', domainGroup?.id]">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>
              </li>
                  <li>
                <a (click)="deleteDomainGroup(domainGroup?.id)">{{ 'APP_INSTANCE.REMOVE_BUTTON' | translate }}</a>
              </li>
            </ul>
          </span>
                </td>
            </tr>
            <ng-template ngFor let-domain [ngForOf]="domainGroup.domains">
                <tr *ngIf="domainsRowVisible[i]" class="table-row pointer" [routerLink]="['/admin/domains/view/', domain.id]">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{domain.name}}</td>
                    <td>{{domain.codename}}</td>
                    <td class="text-right">
<!--                        <span class="dropdown">-->
<!--            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">-->
<!--              <em class="fas fa-cog icon-black icon-bigger"></em>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu pull-right-drop">-->
<!--              <li>-->
<!--                <a>{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </span>-->
                    </td>
                </tr>
            </ng-template>
        </ng-template>
        </tbody>
    </table>
</div>

