<h4 class="header">{{'DOMAINS.LIST.GROUPS' | translate}}</h4>
<div style="display: flex; align-items: center;  margin-top:20px">
    <div style="margin-right:20px">
        <p-iconfield  class="p-input-icon-right" style="width: 100%">
            <input pInputText class="flex form-control" name="search" id="search" placeholder="Search" type="text" style="height: 34px" [(ngModel)]="searchValue">
            <p-inputicon  class="pi pi-search" style="font-size: 13px;"/>
        </p-iconfield>
    </div>
    <div class="flex" style="margin-right:20px">
        <button *roles="['ROLE_SYSTEM_ADMIN', 'ROLE_VL_MANAGER']" [routerLink]="['/admin/domains/groups/add']" class="btn btn-primary"
       role="button">{{'DOMAINS.ADD_BUTTON' | translate}}</button>
    </div>
</div>


<div class="background-section">

    <p-table [value]="groups | searchDomainGroup: searchValue" [rowHover]="true">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="name">{{'APPS_MANAGEMENT.NAME' | translate}}
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="codenam">{{'DOMAINS.CODE_NAME' | translate}}
                    <p-sortIcon field="codename"></p-sortIcon>
                </th>
                <th pSortableColumn="domainName">{{'DOMAINS.LIST.DOMAIN_NAME' | translate}}
                    <p-sortIcon field="domainName"></p-sortIcon>
                </th>
                <th pSortableColumn="domainCode">{{'DOMAINS.LIST.DOMAIN_CODE_NAME' | translate}}
                    <p-sortIcon field="domainCode"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-domainGroup let-i="rowIndex">
            <tr class="table-row">
                <td style="width: 5%" (click)="clickTableRow(i)" *ngIf="!domainsRowVisible[i]">
                    <span class="pi pi-chevron-right"></span>
                </td>
                <td style="width: 5%" (click)="clickTableRow(i)" *ngIf="domainsRowVisible[i]">
                    <span class="pi pi-chevron-down"></span>
                </td>
                <td style="width: 25%" (click)="clickTableRow(i)">{{domainGroup?.name}}</td>
                <td style="width: 20%" (click)="clickTableRow(i)">{{domainGroup?.codename}}</td>
                <td style="width: 15%" (click)="clickTableRow(i)"></td>
                <td style="width: 15%" (click)="clickTableRow(i)"></td>
                <td style="width: 20%" class="text-right">
                    <span class="dropdown">
                        <a style="display: inline-block" class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                            <em class="pi pi-cog" style="font-size: 1.4rem; color: var(--p-text-0)"></em>
                        </a>
                        <ul class="dropdown-menu pull-right-drop">
                            <li>
                                <a [routerLink]="['/admin/domains/groups/', domainGroup?.id]">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>
                            </li>
                            <li>
                                <a (click)="deleteDomainGroup(domainGroup?.id)">{{ 'APP_INSTANCE.REMOVE_BUTTON' | translate }}</a>
                            </li>
                        </ul>
                    </span>
                </td>
            </tr>

            <ng-template ngFor let-domain [ngForOf]="domainGroup.domains">
                <tr *ngIf="domainsRowVisible[i]" class="table-row pointer" [routerLink]="['/admin/domains/view/', domain.id]">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{domain.name}}</td>
                    <td>{{domain.codename}}</td>
                    <td class="text-right"></td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>


<!--    <table class="table table-hover table-condensed" aria-describedby="Apps management table" style="margin-top: 20px;">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col"></th>-->
<!--            <th scope="col">{{'APPS_MANAGEMENT.NAME' | translate}}</th>-->
<!--            <th scope="col">{{'DOMAINS.CODE_NAME' | translate}}</th>-->
<!--            <th scope="col">{{'DOMAINS.LIST.DOMAIN_NAME' | translate}}</th>-->
<!--            <th scope="col">{{'DOMAINS.LIST.DOMAIN_CODE_NAME' | translate}}</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <ng-template ngFor let-domainGroup [ngForOf]="groups | searchDomainGroup: searchValue" let-i="index">-->
<!--            <tr class="table-row" >-->
<!--                <td style="width: 5%" (click)="clickTableRow(i)" *ngIf="!domainsRowVisible[i]"><span class="glyphicon glyphicon-chevron-right"></span></td>-->
<!--                <td style="width: 5%" (click)="clickTableRow(i)" *ngIf="domainsRowVisible[i]"><span class="glyphicon glyphicon-chevron-down"></span></td>-->
<!--                <td style="width: 25%" (click)="clickTableRow(i)">{{domainGroup?.name}}</td>-->
<!--                <td style="width: 20%" (click)="clickTableRow(i)">{{domainGroup?.codename}}</td>-->
<!--                <td style="width: 15%" (click)="clickTableRow(i)"></td>-->
<!--                <td style="width: 15%" (click)="clickTableRow(i)"></td>-->
<!--                <td style="width: 20%" class="text-right">-->
<!--                    <span class="dropdown">-->
<!--            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">-->
<!--              <em class="fas fa-cog icon-black icon-bigger"></em>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu pull-right-drop">-->
<!--              <li>-->
<!--                <a [routerLink]="['/admin/domains/groups/', domainGroup?.id]">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>-->
<!--              </li>-->
<!--                  <li>-->
<!--                <a (click)="deleteDomainGroup(domainGroup?.id)">{{ 'APP_INSTANCE.REMOVE_BUTTON' | translate }}</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <ng-template ngFor let-domain [ngForOf]="domainGroup.domains">-->
<!--                <tr *ngIf="domainsRowVisible[i]" class="table-row pointer" [routerLink]="['/admin/domains/view/', domain.id]">-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td>{{domain.name}}</td>-->
<!--                    <td>{{domain.codename}}</td>-->
<!--                    <td class="text-right">-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </ng-template>-->
<!--        </ng-template>-->
<!--        </tbody>-->
<!--    </table>-->

