<button type="button" class="btn btn-text" (click)="modal.show()">{{'SSH_KEYS.BUTTON_NEW_KEY' | translate}}</button>

<nmaas-modal styleModal="info">
  <div class="nmaas-modal-header">{{'SSH_KEYS.MODAL.HEADER' | translate}}</div>
  <div class="nmaas-modal-body" style="height: 60%; max-height: 80vh;overflow-y: auto;">
    <div>
      <form [formGroup]="requestForm" (ngSubmit)="create()">
        <div class="form-group">
          <label class="control-label" for="new-ssh-key-name">
            {{'SSH_KEYS.MODAL.LABEL.NAME' | translate}}:
          </label>
          <input pInputText id="new-ssh-key-name" type="text" class="form-control" formControlName="name">
        </div>
        @if (name.invalid && (name.dirty || name.touched)) {
          <div class="alert alert-danger">
            @if (name.errors.required) {
              <div>{{'SSH_KEYS.MODAL.ERROR.NAME_REQUIRED' | translate}}</div>
            }
            @if (name.errors.minlength) {
              <div>{{'SSH_KEYS.MODAL.ERROR.NAME_MINLENGTH' | translate}}</div>
            }
            @if (name.errors.maxlength) {
              <div>{{'SSH_KEYS.MODAL.ERROR.NAME_MAXLENGTH' | translate}}</div>
            }
          </div>
        }
        <div class="form-group">
          <label class="control-label" for="new-ssh-key-value">
            {{'SSH_KEYS.MODAL.LABEL.KEY' | translate}}:
          </label>
          <textarea pTextarea [autoResize]="false" [rows]="10" style="min-height: 252px; max-height: 300px" id="new-ssh-key-value" class="form-control" formControlName="key" rows="12"></textarea>
        </div>
        @if (key.invalid && (key.dirty || key.touched)) {
          <div class="alert alert-danger">
            @if (key.errors.required) {
              <div>{{'SSH_KEYS.MODAL.ERROR.KEY_REQUIRED' | translate}}</div>
            }
            @if (key.errors.pattern) {
              <div>{{'SSH_KEYS.MODAL.ERROR.KEY_PATTERN' | translate}}</div>
            }
          </div>
        }
        <div style="display: flex; justify-content: flex-end">
          <button type="button" class="btn btn-secondary mr-2" (click)="modal.hide()">{{'SSH_KEYS.MODAL.BUTTON_CANCEL' | translate}}</button>
          <input type="submit" style="border-radius: 4px" class="btn btn-primary" value="{{'SSH_KEYS.MODAL.BUTTON_ADD' | translate}}" [disabled]="!requestForm.valid">
        </div>

      </form>
      @if (error) {
        <div class="alert alert-danger">
          {{error}}
        </div>
      }

    </div>
  </div>
</nmaas-modal>

