<div class="panel panel-default" style="background: var(--p-surface-200); border: 1px solid var(--p-accent-600)">
  <div class="panel-body panel-container">

    <ul class="sm:col-12">
      @if (getDeploymentParamsKeys().length != 0) {
        <li class="deploy-param-row">
          <strong>{{'APP_ACCESS_METHOD_EDIT.DEPLOY_PARAMETERS' | translate}}</strong>
        </li>
      }
      @for (k of getDeploymentParamsKeys(); track k; let i = $index) {
        <li class="deploy-param-row">
          <div class="form-group sm:col-11">
            <label class="control-label" for="{{i}}-param">{{'APP_ACCESS_METHOD_EDIT.PARAM' | translate}}: {{k}}</label>
            <input pInputText  class="form-control" type="text" id="{{i}}-param" [(ngModel)]="appDeploymentSpec[propertyName][k]">
          </div>
          <div class="sm:col-1">
            <button class="btn btn-danger" role="button" (click)="removeDeployParam(k)">{{'APP_ACCESS_METHOD_EDIT.REMOVE_PARAM' | translate}}</button>
          </div>
        </li>
      }
      <li class="deploy-param-row">
        <strong>{{'APP_ACCESS_METHOD_EDIT.NEW_DEPLOY_PARAMETER' | translate}}</strong>
      </li>
      <li class="deploy-param-row">
        <div class="form-group  sm:col-11 flex p-0">
          <div class="double-form  sm:col-6">
            <label class="control-label" for="new-key">{{'APP_ACCESS_METHOD_EDIT.NEW_KEY' | translate}}</label>
            <input pInputText  type="text" id="new-key" class="form-control" [formControl]="newKeyFormControl">
            @if (newKeyFormControl.invalid && (newKeyFormControl.dirty || newKeyFormControl.touched)) {
              <div
                class="alert alert-danger">
                @if (keyValidatorErrorKey && newKeyFormControl.errors[keyValidatorErrorKey] && keyValidatorMessage) {
                  <div>
                    {{keyValidatorMessage}}
                  </div>
                }
              </div>
            }
          </div>
          <div class="double-form  sm:col-6">
            <label class="control-label" for="new-value">{{'APP_ACCESS_METHOD_EDIT.NEW_VALUE' | translate}}</label>
            <input pInputText  type="text" id="new-value" class="form-control" [formControl]="newValueFormControl">
            @if (newValueFormControl.invalid && (newValueFormControl.dirty || newValueFormControl.touched)) {
              <div
                class="alert alert-danger">
                @if (valueValidatorErrorKey && newKeyFormControl.errors[valueValidatorErrorKey] && valueValidatorMessage) {
                  <div>
                    {{valueValidatorMessage}}
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class=" sm:col-1">
          <button class="btn btn-secondary" role="button" (click)="addNewDeployParam()" [disabled]="!isNewDeployParamValid()">{{'APP_ACCESS_METHOD_EDIT.ADD_PARAM' | translate}}</button>
        </div>
      </li>
    </ul>

  </div>

</div>

