.p-tabpanels{
    background-color: var(--p-background-100);
    border-radius: 10px;
}
:host ::ng-deep .p-tablist-tab-list{
    margin-left: 15px;
    background: transparent;
    border: none;
}
.p-tab{
    border-radius: 5px 5px 0 0;
    background-color: var(--p-surface-300);
}
.p-tab-active{
    background-color: var(--p-background-100);
    color: var(--p-text-0);
}
.input-width{
    width:50%;
}
