<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">{{ 'DOMAINS.GLOBAL_SETTINGS.HEADER'| translate }}</p-tab>
        <p-tab value="1">{{'DOMAINS.ANNOTATIONS.HEADER' | translate}}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="panel-body">
                <p>
                    {{'DOMAINS.GLOBAL_SETTINGS.DESCRIPTION' | translate}}
                </p>
                <form class="form-horizontal" #limitForm="ngForm" (submit)="save()">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="instancesNo">{{ 'DOMAINS.GLOBAL_SETTINGS.INSTANCES'| translate }}</label>
                            <div class="col-sm-9 pd-top-7">
                                <div class="input-width">
                                    <input class="col-sm-9 pd-top-7" [(ngModel)]="globalResourcesLimit.instancesNo"
                                           placeholder="Not set" pInputText id="instancesNo" name="instancesNo"
                                           type="number" pattern="^[1-9][0-9]*$" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="containersNo">{{ 'DOMAINS.GLOBAL_SETTINGS.CONTAINERS'| translate }}</label>
                            <div class="col-sm-9 pd-top-7">
                                <div class="input-width">
                                    <input class="col-sm-9 pd-top-7" [(ngModel)]="globalResourcesLimit.containersNo"
                                           placeholder="Not set" pInputText id="containersNo" name="containersNo"
                                           type="number" pattern="^[1-9][0-9]*$" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cpu">{{ 'DOMAINS.GLOBAL_SETTINGS.CPU'| translate }}</label>
                            <div class="col-sm-9 pd-top-7">
                                <div class="input-width">
                                    <input class="col-sm-9 pd-top-7" [(ngModel)]="globalResourcesLimit.cpu"
                                           placeholder="Not set" pInputText id="cpu" name="cpu"
                                           type="number" pattern="^[1-9][0-9]*$" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="memory">{{ 'DOMAINS.GLOBAL_SETTINGS.MEMORY'| translate }}</label>
                            <div class="col-sm-9 pd-top-7">
                                <div class="input-width">
                                    <input class="col-sm-9 pd-top-7 " [(ngModel)]="globalResourcesLimit.memory"
                                           placeholder="Not set" pInputText id="memory" name="memory"
                                           type="number" pattern="^[1-9][0-9]*$" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-content-end">
                        <button class="btn btn-primary" type="submit"  [disabled]="!limitForm.valid">
                            {{ 'PORTAL_CONFIGURATION.SUBMIT_BUTTON' | translate }}
                        </button>
                    </div>
                </form>
            </div>

        </p-tabpanel>
        <p-tabpanel value="1">
            <app-domain-annotations></app-domain-annotations>
        </p-tabpanel>
    </p-tabpanels>


</p-tabs>

