.table-row{
    cursor: pointer;
}

.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}
/*:host ::ng-deep .p-datatable-table-container{*/
/*    overflow: unset !important;*/
/*}*/
