<div style="margin: auto; width: 70%;">
    <div class="background-section">
        <h4 style="font-size: 15px; font-weight: bold;">{{ 'REGISTRATION.TERMS_PANEL.HEADER' | translate }}</h4>
        <div class="panel-body">
            <form class="form-horizontal" #userDetailsForm="ngForm">
                <div>
                    <p>
                        {{ 'REGISTRATION.TERMS_PANEL.INFO' | translate }}
                    </p>
                </div>
                <div class="form-group" style="margin: 0 0 5px">
                    <label class="control-label">
                        <input id="pnAccepted"
                               name="pnAccepted"
                               type="checkbox"
                               [checked]="this.checkboxPN === true"
                               [(ngModel)]="this.checkboxPN"
                               (change)="checkConfirmations()"
                               class="control-label checkbox-inline"
                               style="margin-right: 5px"
                               required/>

                        {{ 'REGISTRATION.AGREEMENT_MESSAGE' | translate }}
                        <a (click)="modalInfoPolicy.show()">
                            {{ 'REGISTRATION.PRIVACY_POLICY' | translate }}
                        </a>
                        *
                    </label>
                </div>
                <div class="form-group" style="margin:0;">
                    <label class="control-label">
                        <input id="aupAccepted"
                               name="aupAccepted"
                               type="checkbox"
                               [checked]="this.checkboxAUP === true"
                               [(ngModel)]="this.checkboxAUP"
                               (change)="checkConfirmations()"
                               class="control-label checkbox-inline"
                               style="margin-right: 5px"
                               required/>
                        {{ 'REGISTRATION.AGREEMENT_MESSAGE' | translate }}
                        <a (click)="modalInfoTerms.show()">
                            {{ 'REGISTRATION.ACCEPTABLE_USE_POLICY' | translate }}
                        </a>
                        *
                    </label>
                </div>

                <div class="flex justify-content-end" style="margin-top:25px">
                    <button type="submit" class="btn btn-primary"
                            [disabled]="confirmationDisabled"
                            (click)="submit()"
                    >{{ 'REGISTRATION.TERMS_PANEL.CONFIRM' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<modal-info-terms></modal-info-terms>
<modal-info-policy></modal-info-policy>
