@for (version of changelog?.versions; track version; let i = $index) {
  <div>
    <div class="card panel panel-default">
      <h3 class="panel-title text-center">
        <button class="btn btn-link" style="color: var(--p-primary-100)" data-toggle="collapse" [attr.data-target]="'#collapse'+i.toString()">
          @if (i ==0) {
            <span><strong>{{ 'CHANGELOG.CHANGELOG_LAST' | translate }}</strong>: </span>
            }{{version?.verNo}} {{version?.date}}
          </button>
        </h3>
      </div>
      @if (i != 0) {
        <div [attr.id]="'collapse'+i.toString()" class="collapse panel-padding" data-parent="#accordion">
          @for (t of version?.topic; track t) {
            <div class="card-body item-padding">
              @if (t?.tags == '[New Feature]') {
                <span class="tag-extended tag-extended-feature">{{ 'CHANGELOG.NEW' | translate }}</span>
              }
              @if (t?.tags == '[Enhancement]') {
                <span class="tag-extended tag-extended-enhancement">{{ 'CHANGELOG.IMPROVED' | translate }}</span>
              }
              @if (t?.tags == '[Bugfix]') {
                <span class="tag-extended tag-extended-bugfix">{{ 'CHANGELOG.FIXED' | translate }}</span>
              }
              @if (t?.tags == '[Removed]') {
                <span class="tag-extended tag-extended-removed">{{ 'CHANGELOG.REMOVED' | translate }}</span>
              }
              <span>{{t?.title}}</span><br>
              {{t?.description}}<br>
            </div>
          }
        </div>
      }
      @if (i == 0) {
        <div [attr.id]="'collapse'+i.toString()" class="collapse in panel-padding" data-parent="#accordion">
          @for (t of version?.topic; track t) {
            <div class="card-body item-padding">
              @if (t?.tags == '[New Feature]') {
                <span class="tag-extended tag-extended-feature">{{ 'CHANGELOG.NEW' | translate }}</span>
              }
              @if (t?.tags == '[Enhancement]') {
                <span class="tag-extended tag-extended-enhancement">{{ 'CHANGELOG.IMPROVED' | translate }}</span>
              }
              @if (t?.tags == '[Bugfix]') {
                <span class="tag-extended tag-extended-bugfix">{{ 'CHANGELOG.FIXED' | translate }}</span>
              }
              @if (t?.tags == '[Removed]') {
                <span class="tag-extended tag-extended-removed">{{ 'CHANGELOG.REMOVED' | translate }}</span>
              }
              <span>{{t?.title}}</span><br>
              {{t?.description}}<br>
            </div>
          }
        </div>
      }
    </div>
  }
