.modal {
      background: rgba(0,0,0,0.6);
}

.info-modal{
      background: rgba(66,139,202,10);
      color: white;
}

.error-modal{
      background: rgb(217, 33, 10);
      color: white;
}

.success-modal{
      background: rgba(92,184,92, 10);
      color: white;
}

.alert-modal{
    background: rgba(255,204,0,30);
    color: white;
}
.modal-header{
    border: none;
}

.modal-header-none-display{
  display: none;
}

.modal-img{
    margin-right: 15px;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 35px;
    max-height: 35px;
    vertical-align: text-bottom;
}
:host ::ng-deep .p-dialog .p-dialog-header{
    background: var(--card-color);
    border:none;
    padding:0 15px
}
:host ::ng-deep .p-dialog .p-dialog-content{
    background: var(--card-color);
}
:host ::ng-deep .p-dialog .p-dialog-footer{
    background: var(--card-color);
    border:none;
    padding:1.5rem;
}
:host ::ng-deep .p-dialog .p-dialog-header-icons .p-button{
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    background: var(--user-button-background);
    color: var(--l-text-color);

}
.alert-info, .alert-warning, .alert-danger, .alert-success{
    display: flex;
    background-image: none;
    background-color: transparent;
    color: var(--l-text-color);

}
.modal-title{
    align-content: center;
}
