<!--<div class="modal fade" tabindex="-1"-->
<!--	[ngClass]="{'in': visibleAnimate}"-->
<!--	[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? '1' : '0'}">-->
<!--	<div class="modal-dialog modal-lg" style="z-index: 1200;">-->
<!--		<div class="modal-content">-->
<!--            <div class="modal-header text-center"-->
<!--				 [ngClass]="{'alert-info': this.isInfo, 'alert-danger': this.isError,-->
<!--				 'alert-success': this.isSuccess, 'alert-warning': this.isWarning}">-->
<!--                <img *ngIf="isError && isIconsEnabled"  src="../../../assets/images/error.png" class="modal-img " alt="Error">-->
<!--				<img *ngIf="isInfo && isIconsEnabled" src="../../../assets/images/info.png" class="modal-img" alt="Error">-->
<!--				<img *ngIf="isSuccess && isIconsEnabled" src="../../../assets/images/success.png" class="modal-img" alt="Error">-->
<!--				<img *ngIf="isWarning && isIconsEnabled" src="../../../assets/images/alert.png" class="modal-img" alt="Error">-->
<!--				<h4 class="modal-title" style="display: inline-block;" >-->
<!--					<ng-content select=".nmaas-modal-header"></ng-content>-->
<!--				</h4>-->
<!--            </div>-->
<!--			<div class="modal-body" style="max-height: 80vh; overflow: auto;">-->
<!--				<ng-content select=".nmaas-modal-body"></ng-content>-->
<!--			</div>-->
<!--			<div class="modal-footer">-->
<!--				<ng-content select=".nmaas-modal-footer"></ng-content>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<p-dialog
        [(visible)]="visible"
        [modal]="true"
        [style]="{width: '40vw'}"
        [closable]="true"
        [draggable]="false"
        [baseZIndex]="1200"
        (onHide)="hide()">
    <ng-template pTemplate="header">
        <div class="modal-header text-center"
             [ngClass]="{
           'alert-info': isInfo,
           'alert-danger': isError,
           'alert-success': isSuccess,
           'alert-warning': isWarning
         }">
            <img *ngIf="isIconsEnabled && isError" src="../../../assets/images/error.png" class="modal-img" alt="Error">
            <img *ngIf="isIconsEnabled && isInfo"  src="../../../assets/images/info.png" class="modal-img" alt="Info">
            <img *ngIf="isIconsEnabled && isSuccess" src="../../../assets/images/success.png" class="modal-img" alt="Success">
            <img *ngIf="isIconsEnabled && isWarning" src="../../../assets/images/alert.png" class="modal-img" alt="Warning">
            <h4 class="modal-title" style="display: inline-block;">
                <ng-content select=".nmaas-modal-header"></ng-content>
            </h4>
        </div>
    </ng-template>

    <div class="modal-body" style="max-height: 70vh; overflow: auto;">
        <ng-content select=".nmaas-modal-body"></ng-content>
    </div>

    <ng-template pTemplate="footer">
        <ng-content select=".nmaas-modal-footer"></ng-content>
    </ng-template>
</p-dialog>
