.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555555;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555555;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #555555;
}
