<div class="col-sm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
    <div *ngIf="bulk && bulkType === 'DOMAIN' ">
        <h3>{{'BULK.DOMAIN.HEADER' | translate}}</h3>
        <div class="" style="padding-bottom: 5rem; margin-top: 3rem">
            <label for="id" class="col-sm-2 control-label">{{ 'BULK.LIST.ID' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="id" name="id" [disabled]="true"
                       [(ngModel)]="bulk.id" #name="ngModel">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="creator" class="col-sm-2 control-label">{{ 'BULK.LIST.CREATOR' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="creator" name="creator" [disabled]="true"
                      placeholder="{{bulk.creator.username}} ({{bulk.creator.firstname}} {{bulk.creator.lastname}})">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="date" class="col-sm-2 control-label">{{ 'BULK.LIST.CREATION_DATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="date" name="date" [disabled]="true"
                      placeholder="{{bulk.creationDate | date: 'dd.MM.yyyy h:mm'}}">
            </div>
        </div>

        <div class="form-group" style="padding-bottom: 5rem">
            <label for="state" class="col-sm-2 control-label">{{ 'BULK.LIST.STATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  id="state" name="state" [disabled]="true"
                       [(ngModel)]="bulk.state" #name="ngModel">
            </div>
        </div>

        <table class="table table-hover table-condensed" aria-describedby="Domains in Group table" style="margin-top: 3rem">
            <thead>
            <tr>
                <th>{{'BULK.LIST.TYPE' | translate}}</th>
                <th>{{'BULK.LIST.SUCCESSFUL' | translate}}</th>
                <th>{{'BULK.LIST.CREATED' | translate}}</th>
                <th>{{'BULK.LIST.DETAILS' | translate}}</th>
                <th style="width: 5%" scope="col"></th>
            </tr>
            <ng-template ngFor let-replay [ngForOf]="bulk.entries" let-i="index">
                <tr class="table-row">
                    <td>{{replay.type}}</td>
                    <td>{{replay.successful}}</td>
                    <td>{{replay.created}}</td>
                    <td>{{getDetails(replay)}}</td>
                    <td style="width: 5%" class="text-right">
                    <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
              <li *ngIf="replay.type === 'DOMAIN'">
                <a [routerLink]="['/admin/domains/view/', replay?.details['domainId']]">{{ 'BULK.LIST.MOVE_DOMAIN' | translate }}</a>
              </li>
                 <li *ngIf="replay.type === 'USER'">
                <a [routerLink]="['/admin/users/view', replay?.details['userId']]">{{ 'BULK.LIST.MOVE_USER' | translate }}</a>
              </li>
            </ul>
          </span>
                    </td>
                </tr>
            </ng-template>
            </thead>
        </table>

    </div>

    <div *ngIf="bulk && bulkType === 'APPLICATION' ">

    </div>

</div>
