.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555555;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555555;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #555555;
}

.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

:host ::ng-deep .p-tooltip .p-tooltip-text {
    background: #383838;
    color: rgba(255, 255, 255, 0.87);
    padding: 0.5rem 0.5rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

:host ::ng-deep .p-tooltip {
    white-space: nowrap !important;
}


