<div class="col-sm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
    <div *ngIf="bulk && bulkType === 'DOMAIN' ">
        <h3>{{'BULK.DOMAIN.HEADER_VIEW' | translate}}</h3>
        <div class="" style="padding-bottom: 5rem; margin-top: 3rem">
            <label for="id" class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.ID' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" [disabled]="true"
                       [(ngModel)]="bulk.id" #name="ngModel">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="creator"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.CREATOR' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="creator" name="creator" [disabled]="true"
                       placeholder="{{bulk.creator.username}} ({{bulk.creator.firstname}} {{bulk.creator.lastname}})">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="date"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.CREATION_DATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="date" name="date" [disabled]="true"
                       placeholder="{{bulk.creationDate | date: 'dd-MM-yyyy HH:mm'}}">
            </div>
        </div>

        <div class="form-group" style="padding-bottom: 5rem">
            <label for="state"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.STATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="state" name="state" [disabled]="true"
                       placeholder="{{'BULK.STATE.' + bulk.state | translate}}">
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 3rem">
            <div class="panel-heading">

                <div style="display: flex; justify-content: start; align-items: center">
                    <div>
                        {{ 'BULK.DOMAIN.DEPLOYMENTS' | translate }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed" aria-describedby="Domains in Group table">
                    <thead>
                    <tr>
                        <th scope="col">{{'BULK.LIST.STATE' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.CREATED' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.DOMAIN_ID' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.DOMAIN_NAME' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.DOMAIN_CODENAME' | translate}}</th>
                        <th style="width: 5%" scope="col"></th>
                    </tr>
                    <ng-template ngFor let-response [ngForOf]="bulk.entries" let-i="index">
                        <tr *ngIf="response.type === 'DOMAIN'" class="table-row">
                            <td>{{'BULK.STATE.' + response.state | translate}}</td>
                            <td>{{response.created}}</td>
                            <td>{{getDomainId(response)}}</td>
                            <td>{{getDomainName(response)}}</td>
                            <td>{{getDomainCodeName(response)}}</td>
                            <td style="width: 5%" class="text-right">
                    <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true"
               data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
              <li *ngIf="response.type === 'DOMAIN'">
                <a [routerLink]="['/admin/domains/view/', response?.details['domainId']]">{{ 'BULK.LIST.MOVE_DOMAIN' | translate }}</a>
              </li>
                 <li *ngIf="response.type === 'USER'">
                <a [routerLink]="['/admin/users/view', response?.details['userId']]">{{ 'BULK.LIST.MOVE_USER' | translate }}</a>
              </li>
            </ul>
          </span>
                            </td>
                        </tr>
                    </ng-template>
                    </thead>
                </table>

            </div>
        </div>

        <div class="panel panel-default" style="margin-top: 3rem">
            <div class="panel-heading">

                <div style="display: flex; justify-content: start; align-items: center">
                    <div>
                        {{'BULK.USER.DEPLOYMENTS' | translate }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed" aria-describedby="Domains in Group table">
                    <thead>
                    <tr>
                        <th scope="col">{{'BULK.LIST.STATE' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.CREATED' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.USER_ID' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.USER_NAME' | translate}}</th>
                        <th scope="col">{{'BULK.LIST.EMAIL' | translate}}</th>
                        <th style="width: 5%" scope="col"></th>
                    </tr>
                    <ng-template ngFor let-response [ngForOf]="bulk.entries" let-i="index">
                        <tr *ngIf="response.type === 'USER'" class="table-row">
                            <td>{{'BULK.STATE.' + response.state | translate}}</td>
                            <td>{{response.created}}</td>
                            <td>{{getUserId(response)}}</td>
                            <td>{{getUsername(response)}}</td>
                            <td>{{getEmail(response)}}</td>
                            <td style="width: 5%" class="text-right">
                    <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true"
               data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
                <li *ngIf="response.type === 'DOMAIN'">
                <a [routerLink]="['/admin/domains/view/', response?.details['domainId']]">{{ 'BULK.LIST.MOVE_DOMAIN' | translate }}</a>
              </li>
                 <li *ngIf="response.type === 'USER'">
                <a [routerLink]="['/admin/users/view', response?.details['userId']]">{{ 'BULK.LIST.MOVE_USER' | translate }}</a>
              </li>
            </ul>
          </span>
                            </td>
                        </tr>
                    </ng-template>
                    </thead>
                </table>

            </div>
        </div>


    </div>

    <div *ngIf="bulk && bulkType === 'APPLICATION' ">
        <h3>{{'BULK.APP.VIEW_HEADER' | translate}}</h3>
        <div class="" style="padding-bottom: 5rem; margin-top: 3rem">
            <label for="id" class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.ID' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" [disabled]="true"
                       [(ngModel)]="bulk.id" #name="ngModel">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="creator"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.CREATOR' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="creator" name="creator" [disabled]="true"
                       placeholder="{{bulk.creator.username}} ({{bulk.creator.firstname}} {{bulk.creator.lastname}})">
            </div>
        </div>

        <div class="" style="padding-bottom: 5rem">
            <label for="date"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.CREATION_DATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="date" name="date" [disabled]="true"
                       placeholder="{{bulk.creationDate | date: 'dd-MM-yyyy HH:mm'}}">
            </div>
        </div>

        <div class="form-group" style="padding-bottom: 5rem">
            <label for="state"
                   class="col-sm-2 control-label text-right mt-2">{{ 'BULK.LIST.STATE' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="state" name="state" [disabled]="true"
                       placeholder="{{'BULK.STATE.' + bulk.state | translate}}">
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 3rem">
            <div class="panel-heading">

                <div style="display: flex; justify-content: start; align-items: center">
                    <div>
                        {{ 'BULK.APP.DEPLOYMENTS' | translate }}
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="flex flex-row mb-3">
                    <div class="flex ml-2 mr-2">
                        <img alt="App logo" style="width: 50px"
                             [src]="(appImagesService.getAppLogoUrl(bulk.details['appId']) | secure) || 'assets/images/app-logo-example.png'"/>
                    </div>
                    <div class="flex align-items-center">
                        {{bulk.details['appName']}}
                    </div>
                    <div class="flex justify-content-end">
                        <button class="btn btn-primary" (click)="getAppBulkDetails(this.bulkId)">{{'BULK.APP.DOWNLOAD_CSV' | translate}}</button>
                    </div>
                </div>

                <table class="table table-hover table-condensed" aria-describedby="Domains in Group table">
                    <thead>
                    <tr #column>
                        <th scope="col">{{'BULK.LIST.STATE' | translate}}</th>
                        <th scope="col">{{'BULK.APP.INSTANCE_ID' | translate}}</th>
                        <th scope="col">{{'BULK.APP.INSTANCE_NAME' | translate}}</th>
                        <th scope="col">{{'BULK.APP.DOMAIN' | translate}}</th>
                        <th style="width: 5%" scope="col"></th>
                    </tr>
                    <ng-template ngFor let-response [ngForOf]="bulk.entries" let-i="index">
                        <tr *ngIf="response.type === 'APPLICATION'" class="table-row">
                            <td>{{'BULK.STATE.' + response.state | translate}}  <em
                                    *ngIf="response.state == 'PROCESSING'"
                                    class="pi pi-spin pi-spinner ml-1"
                                    style="font-size: 1.4rem"></em>
                                <em *ngIf="response.state == 'FAILED'" class="pi pi-info-circle"
                                    style="font-size: 1.4rem"
                                    pTooltip="{{response?.details['errorMessage']}}"
                                    tooltipStyleClass="p-tooltip-width " [fitContent]="false"></em></td>
                            <td>{{getAppInstanceId(response)}}</td>
                            <td>{{getAppInstanceName(response)}}</td>
                            <td>{{getDomainCodeName(response)}}</td>
                            <td style="width: 5%" class="text-right">
                    <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true"
               data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
                 <li *ngIf="response.type === 'APPLICATION' && response?.details['appInstanceId'] !== undefined">
                <a [routerLink]="['/instances/', response?.details['appInstanceId']]">{{ 'BULK.LIST.MOVE_APP' | translate }}</a>
              </li>
                  <li *ngIf="response.type === 'APPLICATION' && response.state !== 'COMPLETED'">
                    <a>{{ 'BULK.APP.CHECK_STATE' | translate }}</a>
                </li>
            </ul>
          </span>
                            </td>
                        </tr>
                    </ng-template>
                    </thead>
                </table>

            </div>
        </div>

    </div>


</div>
