<div class=" row position" style="margin:40px; color: var(--p-text-0)">
  <div class="col-md-6">
    <div class="" style="padding-bottom: 15px;">
      <h2 class="">{{ 'ABOUT.CHANGELOG_TITLE' | translate }}</h2>
      <span>{{ 'ABOUT.CHANGELOG_DESC' | translate }}</span>
    </div>
    @if (gitInfo) {
      <div class="background-section">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group version-row-padding">
              <div class="row">
                <label class="control-label col-sm-2">{{'GIT_INFO.VERSION' | translate}}:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{gitInfo?.buildVersion}}</p>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-sm-2">{{'GIT_INFO.BUILD_TIME' | translate}}:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{gitInfo?.buildTime}}</p>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-sm-2">{{'GIT_INFO.LAST_COMMIT' | translate}}:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{gitInfo?.commitName}}</p>
                </div>
              </div>
              <!--                        <div class="row">-->
              <!--                            <label class="control-label col-sm-2">{{'GIT_INFO.BRANCH_NAME' | translate}}:</label>-->
              <!--                            <div class="col-sm-10">-->
              <!--                                <p class="form-control-static">{{gitInfo?.branchName}}</p>-->
            <!--                            </div>-->
          <!--                        </div>-->
        </div>
      </form>
    </div>
  </div>
}
<app-changelog></app-changelog>
</div>
<div class="col-md-6">
  <div class="" style="padding-bottom: 15px;">
    <h2>{{ 'ABOUT.CONTACT_TITLE' | translate }}</h2>
    <p>{{ 'ABOUT.CONTACT_P' | translate }}</p>
    <ul>
      <li>
        <p><a href="https://lists.geant.org/sympa/info/nmaas-announce">{{ 'ABOUT.ANNOUNCE' | translate }}</a>{{ 'ABOUT.ANNOUNCE_DESC' | translate }}</p>
      </li>
      <li>
        <p><a href="https://lists.geant.org/sympa/info/nmaas-users">{{ 'ABOUT.USERS' | translate }}</a>{{ 'ABOUT.USERS_DESC' | translate }}</p>
      </li>
    </ul>
    <span>{{ 'ABOUT.CONTACT_DESC' | translate}}</span>
  </div>
  <div class="background-section">
    <div class="panel-body">
      <app-contact></app-contact>
    </div>
  </div>
</div>
</div>

