<h4 class="header">{{ 'SHELL.TITLE' | translate}}</h4>
@if (appInstanceId && ready) {
  <div class="row">
    <div class="page-header">
      <h5 style="color: var(--p-text-0)">{{'SHELL.CONNECTED_TO' | translate}} {{appInstanceName}} ({{'SHELL.POD_NAME' | translate}} {{podName}})</h5>
    </div>

    @if (ready) {
        <app-ssh-shell [appInstanceId]="appInstanceId" [podName]="podName"></app-ssh-shell>
    }
  </div>
}
<app-select-pod-modal
        [url]="router.url" [pods]="podNames"></app-select-pod-modal>
