<nmaas-modal styleModal="warning">
    <div class="nmaas-modal-header">{{ 'APPS_MANAGEMENT.CONFIRM_REMOVAL.HEADER' | translate }}</div>
    <div class="nmaas-modal-body">
        <p>{{ 'APPS_MANAGEMENT.CONFIRM_REMOVAL.DESCRIPTION' | translate}}</p>
        <p *ngIf="hasRunningInstances" style="color: indianred">
            {{ 'APPS_MANAGEMENT.CONFIRM_REMOVAL.DISABLED' | translate}}
        </p>
    </div>
    <div class="nmaas-modal-footer">
        <button [disabled]="hasRunningInstances" role="button" type="button" class="btn btn-success" (click)="removeApp()">{{ 'APPS_MANAGEMENT.CONFIRM_REMOVAL.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="modal.hide()">{{ 'APPS_MANAGEMENT.CONFIRM_REMOVAL.CANCEL' | translate}}</button>
    </div>
</nmaas-modal>

