<div style="margin-top: 5rem">
    <p-table [value]="deploy.result">
        <ng-template pTemplate="header">
            <tr>
                <th id="domain">Domain</th>
                <th id="applicationName">Application Name</th>
                <th id="applicationInstance">Application Instance</th>
                <th id="version">Version</th>
                <th id="parameters">Parameters</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-deploy>
            <tr>
                <td>{{deploy.domainName}}</td>
                <td>{{deploy.applicationName}}</td>
                <td>{{deploy.applicationInstanceName}}</td>
                <td>{{deploy.applicationVersion}}</td>
                <td>{{deploy.parameters.toString()}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

