<div style="margin-top: 5rem">
    <p-table [value]="deploy.result">
        <ng-template pTemplate="header">
            <tr>
                <th>Domain</th>
                <th>Application Name</th>
                <th>Application Instance</th>
                <th>Version</th>
                <th>Parameters</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-deploy>
            <tr>
                <td>{{deploy.domainName}}</td>
                <td>{{deploy.applicationName}}</td>
                <td>{{deploy.applicationInstanceName}}</td>
                <td>{{deploy.applicationVersion}}</td>
                <td>{{deploy.parameters.toString()}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

