.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}
:host ::ng-deep .p-button{
    padding:6px 12px;
    border-radius: 4px;
    color: var(--p-primary-300);
    background: transparent;
}
:host ::ng-deep .p-button-secondary:not(:disabled):hover{
    border: none;
    border-radius: 4px;
    background: var(--p-background-200);
    color: var(--p-primary-400);
}
:host ::ng-deep .p-datatable-table-container{
    overflow: unset !important;
}
