<nav class="navbar navbar-default" id="navbar" role="navigation" style="margin:0">
    <div class="container-fluid nav-position">
        <div class="navbar-header">
            <a routerLink="/">
                @if (!darkMode) {
                    <img alt="GÉANT" src="assets/images/logo-small.png" style="margin: 8px; padding:4px; height:35px">
                }
                @if (darkMode) {
                    <img alt="GÉANT" src="assets/images/nmaas_white_with_cloud.png"
                         style="margin: 8px; padding:4px; height:35px">
                }
            </a>
<!--            <button class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse" type="button">-->
<!--                <span class="sr-only">Toggle Navigation</span>-->
<!--                <em class="fas fa-bars"></em>-->
<!--            </button>-->
        </div>
        <div class="flex-center" id="navbarCollapse" style="gap:5px">
            @if (!authService.isLogged()) {
                @if (router.url == '/welcome' || router.url.startsWith('/welcome/login') || router.url == '/welcome/registration') {
                    <button class="btn"
                            (click)="login.toggle($event)"
                            [routerLink]="['welcome/login']">
                        {{ 'WELCOME.LOGIN' | translate }}
                    </button>
                    <p-popover #login>
                        <ng-template #content>
                            <nmaas-login></nmaas-login>
                        </ng-template>
                    </p-popover>
                }
                @if (router.url == '/welcome' || router.url.startsWith('/welcome/login') || router.url == '/welcome/registration') {
                    <button class="btn"
                            (click)="op.toggle($event)"
                            [routerLink]="['welcome/registration']">
                        {{ 'WELCOME.REGISTER' | translate }}
                    </button>
                    <p-popover #op>
                        <ng-template #content>
                            <nmaas-registration></nmaas-registration>
                        </ng-template>
                    </p-popover>
                }

                @if (isServiceAvailable) {
                    @if (router.url != '/about') {
                        <button class="btn navbar-btn" [routerLink]="['/about']">
                            {{ 'NAVBAR.ABOUT' | translate }}
                        </button>
                    }
                    @if (router.url != '/welcome' && router.url != '/welcome/login' && router.url != '/welcome/registration') {
                        <button
                                class="btn navbar-btn" [routerLink]="['/welcome']">
                            {{ 'NAVBAR.BACK' | translate }}
                        </button>
                    }
                }
                @if (isServiceAvailable) {
                    <p-select
                            [options]="languages"
                            [(ngModel)]="currentLanguage"
                            (onChange)="useLanguage($event.value)"
                            [style]="{ minWidth: '50px' }"
                            panelStyleClass="language-select-panel"
                            [showClear]="false">
                        <ng-template let-lang pTemplate="item">
                            <div class="flex-center">
                                <img class="lang-circle-icon" [src]="'assets/images/country/' + lang + '_circle.png'" alt="{{lang}} flag"/>
                                <span>{{ lang.toUpperCase() }}</span>
                            </div>
                        </ng-template>

                        <ng-template let-lang pTemplate="selectedItem">
                            <div class="flex-center">
                                <img class="lang-circle-icon" [src]="'assets/images/country/' + lang + '_circle.png'" alt="{{lang}} flag"/>
                            </div>
                        </ng-template>
                    </p-select>
                }
            }
        </div>
    </div>
</nav>
<app-modal-notification-send></app-modal-notification-send>
