<div *ngIf="!authService.isLogged()" class="flex-container"> <!---  -->
    <app-navbar ></app-navbar>
    <router-outlet></router-outlet>
    <div class="flex-spacer"></div>
    <nmaas-footer></nmaas-footer>

</div>

<div *ngIf="authService.isLogged()" class="flex-container-row">
    <div class="side-menu">
        <app-left-menu [style]="{'display': 'flex', 'height': '100%'}"></app-left-menu>
    </div>

    <div class="flex flex-column"  [style]="{'margin-left': 'var(--left-panel-width)', 'width': 'calc(100vw - var(--left-panel-width))'}">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>

        <nmaas-footer></nmaas-footer>
    </div>


</div>

<app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>
