<div class="panel panel-default" >
    <div class="panel-heading">
        <div style="display: flex; justify-content: start; align-items: center">
            <div>
                {{"Domain namespace annotations creation"}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div  style="display: flex; justify-content: end">
            <button  type="button" class="btn btn-success" (click)="addAnnotation()">{{"Add annotation"}}</button>
        </div>
        <div class="grid flex flex-grow-1">
            <div class="col-4">
                {{'KEY'}}
<!--                <div *ngIf="isKeysUnique === false"><em class="pi pi-exclamation-circle" style="color: red"></em></div>-->
            </div>
            <div class="col-6">
                {{'VALUE'}}
            </div>
        </div>
        <div class="grid flex flex-grow-1 mt-4 mb-2" *ngFor="let kv of keyValue">
            <div class="flex grid flex-grow-1">
                <div class="col-4">
                    <input pInputText type="text" (focusout)="emmitValue()" [(ngModel)]="kv.key" class="flex flex-grow-1" style="width: 100%" [ngClass]="{ 'border-red': isKeyNotUnique(kv.key)}">
                </div>
                <div class="col-6">
                    <input pInputText type="text" (focusout)="emmitValue()" [(ngModel)]="kv.value" class="flex flex-grow-1" style="width: 100%">
                </div>
                <div class="col-2 flex justify-content-end">
                    <button type="button" class="btn btn-danger" (click)="deleteAnnotation(kv.key)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


<nmaas-modal>
    <div class="nmaas-modal-header">{{'DOMAINS.LIST.GROUP' | translate}}</div>
    <div class="nmaas-modal-body" style="height: 300px">

    </div>
    <div class="nmaas-modal-footer">

    </div>
</nmaas-modal>
