<div class="panel panel-default" style="width: 100% !important;" >
    <div class="panel-heading">
        <div style="display: flex; justify-content: start; align-items: center">
            <div>
                {{'DOMAINS.ANNOTATIONS.CREATION' | translate}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div  style="display: flex; justify-content: end">
            <button  type="button" class="btn btn-success" (click)="addAnnotation()">{{'DOMAINS.ANNOTATIONS.ADD'| translate}}</button>
        </div>
        <div class="grid flex flex-grow-1">
            <div class="col-4">
                {{'DOMAINS.ANNOTATIONS.KEY' | translate}}
            </div>
            <div class="col-6">
                {{'DOMAINS.ANNOTATIONS.VALUE' | translate}}
            </div>
        </div>
        <div class="grid flex flex-grow-1 mt-4 mb-2" *ngFor="let kv of keyValue">
            <div class="flex grid flex-grow-1">
                <div class="col-4">
                    <input pInputText type="text" [disabled]="getReadOnlyValue(kv.key)"  (focusout)="emmitValue(kv.key)" [(ngModel)]="kv.key" class="flex flex-grow-1" style="width: 100%" [ngClass]="{ 'border-red': isKeyNotUnique(kv.key)}">
                </div>
                <div class="col-6">
                    <input pInputText type="text" (focusout)="emmitValue()" [(ngModel)]="kv.value" class="flex flex-grow-1" style="width: 100%">
                </div>
                <div class="col-2 flex justify-content-end">
                    <button type="button" class="btn btn-danger" (click)="deleteAnnotation(kv.key)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


<nmaas-modal>
    <div class="nmaas-modal-header">{{'DOMAINS.LIST.GROUP' | translate}}</div>
    <div class="nmaas-modal-body" style="height: 300px">

    </div>
    <div class="nmaas-modal-footer">

    </div>
</nmaas-modal>
