<div class="panel panel-default" style="width: 100% !important;" >
    <div class="panel-heading">
        <div style="display: flex; justify-content: start; align-items: center">
            <div>
                {{'DOMAINS.ANNOTATIONS.CREATION' | translate}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div  style="display: flex; justify-content: end">
            <button  type="button" class="btn btn-success" (click)="addAnnotation()">{{'DOMAINS.ANNOTATIONS.ADD'| translate}}</button>
        </div>
        <div class="grid flex flex-grow-1">
            <div class="col-4">
                {{'DOMAINS.ANNOTATIONS.KEY' | translate}}
            </div>
            <div class="col-6">
                {{'DOMAINS.ANNOTATIONS.VALUE' | translate}}
            </div>
        </div>
        <div class="grid flex flex-grow-1 mt-4 mb-2" *ngFor="let kv of keyValue">
            <div class="flex grid flex-grow-1">
                <div class="col-4">
                    <input pInputText type="text"  (focusout)="emmitValue(kv)" [(ngModel)]="kv.key" class="flex flex-grow-1" style="width: 100%" [ngClass]="{ 'border-red': isKeyNotUnique(kv.key)}">
                </div>
                <div class="col-6">
                    <input pInputText type="text" (focusout)="emmitValue(kv)" [(ngModel)]="kv.value" class="flex flex-grow-1" style="width: 100%">
                </div>
                <div class="col-2 flex justify-content-end">
                    <button type="button" class="btn btn-danger" (click)="deleteAnnotation(kv.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


<nmaas-modal>
    <div class="nmaas-modal-header">{{'DOMAINS.ANNOTATIONS.ADD' | translate}}</div>
    <div class="nmaas-modal-body" style="height: 200px">
   
        <div class="grid flex flex-grow-1">
            <div class="col-4">
                {{'DOMAINS.ANNOTATIONS.KEY' | translate}}
            </div>
            <div class="col-6">
                {{'DOMAINS.ANNOTATIONS.VALUE' | translate}}
            </div>
        </div>

            <div class="flex grid flex-grow-1">
                <div class="col-4">
                    <input pInputText type="text"  [(ngModel)]="newAnnotations.key" class="flex flex-grow-1" style="width: 100%" [ngClass]="{ 'border-red': isKeyNotUniqueAdd(newAnnotations.key)}">
                </div>
                <div class="col-6">
                    <input pInputText type="text"  [(ngModel)]="newAnnotations.value" class="flex flex-grow-1" style="width: 100%">
                </div>
            </div>
        

    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">{{'APP_CHANGE_STATE_MODAL.CANCEL_BUTTON' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()" [disabled]="isKeyNotUniqueAdd(newAnnotations.key)">{{'SHARED.ADD' | translate}}</button>
    </div>
</nmaas-modal>
