.column-sortable{
    cursor: grab;
}

.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

.checkbox-label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 9px;
}

.big-checkbox {
    width: 20px;
    height: 20px;
}

.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

label{
    padding-left:5px;
    display: unset;
    margin-bottom: 0;
    font-weight: unset;
}

::ng-deep.p-selectbutton .p-button.p-highlight{
    background: var(--primary-button-color) !important;
    border-color: var(--primary-button-color);
}
:host ::ng-deep .p-selectbutton .p-button{
    background: #fff;
}
:host ::ng-deep .p-button .p-button-label{
    font-weight: normal;
}
:host ::ng-deep .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover{
    background: var(--primary-button-color);
    border-color: var(--primary-button-color);
    color: var(--background);
}
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background: var(--user-button-background-hover);
}
:host ::ng-deep .p-button.p-button-icon-only{
    width: unset;
}
::ng-deep .running .p-progressbar .p-progressbar-value {
    background: #EBBD59;
}
.running{
    color: #EBBD59;
    font-weight: bold;
}
::ng-deep .failure .p-progressbar .p-progressbar-value{
    background: #AA0404;
}
.failure{
    color: #AA0404;
    font-weight: bold;
}
::ng-deep .done .p-progressbar .p-progressbar-value{
    background: #136214;
}
.done{
    color: #136214;
    font-weight: bold;
}
::ng-deep .removed .p-progressbar .p-progressbar-value{
    background: #929292;
}
.removed{
    color: #929292;
    font-weight: bold;
}
::ng-deep .scaledDown .p-progressbar .p-progressbar-value{
    background: #2673B6;
}
.scaledDown{
        color: #2673B6;
        font-weight: bold;
}
::ng-deep .p-progressbar .p-progressbar-label{
    display: none;
}
p-selectbutton{
    width: max-content;
}
.instance-card{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width:1550px){
    .col-xl-3{
        width: 25%
    }
}
