<h4 style="margin-top:40px; font-weight: bold" *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']">{{ 'APP_INSTANCES.DEPLOYED' | translate }}</h4>
<div style="display: flex; align-items: flex-start; justify-content: space-between; margin-top:20px">
    <div style="display:flex; align-items: center;">
        <span class="p-input-icon-right">
            <i class="pi pi-search" style="font-size: 13px; top: 16px; margin-right: 5px;"></i>
             <input pInputText class="form-control" name="search" id="search" placeholder="Search" type="text" [(ngModel)]="searchValue">
        </span>
        <div style="display: flex; margin: 0 20px">
            <p-checkbox id="show_my" inputId="show_my" binary="true" [(ngModel)]="showAll" (onChange)="onSelectionChange()"  [ngModelOptions]="{standalone: true}" ngDefaultControl></p-checkbox>
            <label for="show_my" style="text-wrap: nowrap">Show all instances</label>
        </div>
        <div style="display: flex">
            <p-checkbox *domainRoles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR'];domainId:domainId"
                        id="show_visible" inputId="show_visible" binary="true" [(ngModel)]="undeployedVisible" [ngModelOptions]="{standalone: true}"></p-checkbox>
            <label for="show_visible" style="text-wrap: nowrap" *domainRoles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR'];domainId:domainId">{{'APP_INSTANCES.UNDEPLOYED_VISIBLE' | translate}}</label>
        </div>
    </div>
    <div class="" style="display: inline-flex; align-items: center">
        <p-selectButton
                id="selectionType"
                [options]="viewOptions"
                [(ngModel)]="selectedOption"
                [ngModelOptions]="{standalone: true}"
                optionLabel="label"
                optionValue="value"
                ngDefaultControl>
            <ng-template let-item pTemplate>
                <i style="font-size: 14px; padding: 0 10px" [class]="item.icon"></i>
            </ng-template>
        </p-selectButton>
    </div>
</div>


<div *ngIf="selectedOption === 'list'" class="background-section" style="margin-top:30px">
    <p-table [value]="appDeployedInstances | async | searchAppInstance: searchValue"
             [paginator]="true"
             [rows]="maxItemsOnPage"
             [rowsPerPageOptions]="[5, 10, 20]"
             [responsiveLayout]="'scroll'">

        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'APP_INSTANCES.NAME' | translate }}</th>
                <th>{{ 'APP_INSTANCES.APPLICATION' | translate }}</th>
                <th>{{ 'APP_INSTANCES.VERSION' | translate }}</th>
                <th *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                    {{ 'APP_INSTANCES.DOMAIN' | translate }}
                </th>
                <th>{{ 'APP_INSTANCES.OWNER' | translate }}</th>
                <th>{{ 'APP_INSTANCES.DEPLOYED_AT' | translate }}</th>
                <th>{{ 'APP_INSTANCES.STATE' | translate }}</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-appInstance>
            <tr [ngClass]="{'clickable': !userHasGuestRoleInCurrentDomain()}"
                [routerLink]="userHasGuestRoleInCurrentDomain() ? [] : [appInstance.id]">
                <td>{{ appInstance?.name }}</td>
                <td>{{ appInstance?.applicationName }}</td>
                <td>{{ appInstance?.applicationVersion }}</td>
                <td *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                    {{ appInstance?.domainName }}
                </td>
                <td>{{ appInstance?.owner?.username }}</td>
                <td>{{ appInstance?.createdAt | localDate:'dd-MM-yyyy HH:mm' }}</td>
                <td>{{ translateState(appInstance?.state) }}</td>
                <td>
                    <ng-container *ngIf="appInstance?.upgradePossible">
                        <span class="pi pi-arrow-circle-up"></span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="selectedOption === 'cards'" class="grid col-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"  *ngFor="let appInstance of appDeployedInstances | async | searchAppInstance: searchValue">
        <div class="background-section" [ngClass]="{'clickable': !userHasGuestRoleInCurrentDomain()}"
             [routerLink]="userHasGuestRoleInCurrentDomain() ? [] : [appInstance.id]" >
            <div  style="display:flex; justify-content: space-between; margin-bottom: 30px">
                <div>
                    <p>{{appInstance?.name}}</p>
                    <p>{{ appInstance?.applicationName }}</p>
                </div>
                <div>
                    <div class="" *ngIf="appInstance?.application">
                        <img alt="App logo"
                             [src]="(appImagesService.getAppLogoUrl(appInstance?.application.applicationBase.id) | secure) || 'assets/images/app-logo-example.png'" height="50px"/>
                    </div>
                    <div class="" *ngIf="!appInstance?.application">
                        <img alt="App logo" src="assets/images/app-logo-example.png" height="50px"/>
                    </div>
                </div>
            </div>
            <div  *ngIf="getStateAsEnum(appInstance?.state) == AppInstanceState.FAILURE ||
                    getStateAsEnum(appInstance?.state) == AppInstanceState.REMOVED">
                <p class="failure">{{ translateState(appInstance?.state) }}</p>
                <p-progressBar class="failure" [value]="100" [style]="{'height': '6px'}"></p-progressBar>
            </div>
            <div  *ngIf="getStateAsEnum(appInstance?.state) == AppInstanceState.RUNNING ||
                    getStateAsEnum(appInstance?.state) == AppInstanceState.DEPLOYING ||
                    getStateAsEnum(appInstance?.state) == AppInstanceState.CONFIGURATION_AWAITING ||
                    getStateAsEnum(appInstance?.state) == AppInstanceState.CONNECTING">
                <p class="running">{{ translateState(appInstance?.state) }}</p>
                <p-progressBar class="running" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>
            <div  *ngIf="getStateAsEnum(appInstance?.state) == AppInstanceState.DONE ||
                    getStateAsEnum(appInstance?.state) == AppInstanceState.RUNNING ">
                <p class="done">{{ translateState(appInstance?.state) }}</p>
                <p-progressBar class="done" [value]="100" [style]="{'height': '6px'}"></p-progressBar>
            </div>


        </div>
    </div>

</div>

<div style="margin-top:40px"  *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']">
    <h4 class="header" *ngIf="undeployedVisible">{{ 'APP_INSTANCES.UNDEPLOYED' | translate }}</h4>
    <div style="margin-top:30px" *ngIf="undeployedVisible && selectedOption === 'list'" class="background-section">
        <p-table [value]="appUndeployedInstances | async | paginate: { itemsPerPage: maxItemsOnPageSec, currentPage: secondPageNumber, id: p_second }"
                 [paginator]="true"
                 [rows]="maxItemsOnPageSec"
                 [rowsPerPageOptions]="[5, 10, 20]"
                 [responsiveLayout]="'scroll'" aria-describedby="Undeployed instances">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ 'APP_INSTANCES.NAME' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.APPLICATION' | translate }}</th>
                    <th *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                        {{ 'APP_INSTANCES.DOMAIN' | translate }}
                    </th>
                    <th>{{ 'APP_INSTANCES.OWNER' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.DEPLOYED_AT' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.STATE' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appInstance>
                <tr [ngClass]="{'clickable': true}" [routerLink]="[appInstance.id]">
                    <td>{{ appInstance?.name }}</td>
                    <td>{{ appInstance?.applicationName }}</td>
                    <td *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                        {{ appInstance?.domainName }}
                    </td>
                    <td>{{ appInstance?.owner?.username }}</td>
                    <td>{{ appInstance?.createdAt | localDate:'dd-MM-yyyy HH:mm' }}</td>
                    <td>{{ translateState(appInstance?.state) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
