.column-sortable{
    cursor: grab;
}

.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

.checkbox-label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 9px;
}

.big-checkbox {
    width: 20px;
    height: 20px;
}

.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

label{
    padding-left:5px;
    display: unset;
    margin-bottom: 0;
    font-weight: unset;
}

::ng-deep.p-selectbutton .p-button.p-highlight{
    background: var(--p-primary-100) !important;
    border-color: var(--p-primary-100);
}
:host ::ng-deep .p-selectbutton .p-button{
    background: #fff;
}
:host ::ng-deep .p-button .p-button-label{
    font-weight: normal;
}
:host ::ng-deep .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover{
    background: var(--p-primary-100);
    border-color: var(--p-primary-100);
    color: var(--p-surface-50);
}
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    background: var(--user-button-background-hover);
}
:host ::ng-deep .p-button.p-button-icon-only{
    width: unset;
}
::ng-deep .running .p-progressbar-value {
    background: #EBBD59;
}
.running{
    color: #EBBD59;
    font-weight: bold;
}
::ng-deep .failure .p-progressbar-value{
    background: var(--p-accent-400) ;
}
.failure{
    color: var(--p-accent-400);
    font-weight: bold;
}
::ng-deep .done .p-progressbar-value{
    background: var(--p-accent-300);
}
.done{
    color: var(--p-accent-300);
    font-weight: bold;
}
::ng-deep .removed .p-progressbar-value{
    background: #929292;
}
.removed{
    color: #929292;
    font-weight: bold;
}
::ng-deep .scaledDown .p-progressbar-value{
    background: var(--p-accent-200);
}
.scaledDown{
        color: var(--p-accent-200);
        font-weight: bold;
}
::ng-deep .p-progressbar .p-progressbar-label{
    display: none;
}
:host ::ng-deep .p-progressbar-determinate .p-progressbar-label {
    display: none;
}
p-selectbutton{
    width: max-content;
    text-wrap-mode: nowrap;
}
.instance-card{
    color: var(--p-text-0);
    background: var(--p-background-100);
    margin: 10px 0;
    /*min-height: 250px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-container {
    background: var(--p-background-50);
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:1550px){
    .col-xl-3{
        width: 25%
    }
}
.wrap{
    flex-wrap:wrap;
}
@media (min-width: 768px){
    .wrap{
        flex-wrap:nowrap;
    }
}
h4{
    color: var(--p-text-0);
}
