<div style="display: flex; align-items: center; justify-content: space-between; margin-top:20px">
    <div style="display:flex; align-items: center;">
        <input pInputText name="search" id="search" placeholder="Search" type="text" [(ngModel)]="searchValue">
        <div style="margin-left:20px">
            <p-checkbox *domainRoles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR'];domainId:domainId"
                        id="show_visible" inputId="show_visible" binary="true" [(ngModel)]="undeployedVisible" [ngModelOptions]="{standalone: true}"></p-checkbox>
            <label for="show_visible" *domainRoles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR'];domainId:domainId">{{'APP_INSTANCES.UNDEPLOYED_VISIBLE' | translate}}</label>
        </div>
    </div>
    <div class="" style="display: inline-flex; align-items: center">
        <label class="mr-3" for="selectionType">{{ 'APP_INSTANCES.SHOW' | translate }}: </label>
        <p-selectButton
                id="selectionType"
                [options]="selectionOptions"
                [(ngModel)]="listSelection"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onSelectionChange($event)"
                optionLabel="label"
                optionValue="value"
                ngDefaultControl/>
    </div>
</div>

<h4 style="margin-top:40px; font-weight: bold" *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']">{{ 'APP_INSTANCES.DEPLOYED' | translate }}</h4>
<div class="background-section" style="margin-top:30px">
    <p-table [value]="appDeployedInstances | async | searchAppInstance: searchValue"
             [paginator]="true"
             [rows]="maxItemsOnPage"
             [rowsPerPageOptions]="[5, 10, 20]"
             [responsiveLayout]="'scroll'">

        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'APP_INSTANCES.NAME' | translate }}</th>
                <th>{{ 'APP_INSTANCES.APPLICATION' | translate }}</th>
                <th>{{ 'APP_INSTANCES.VERSION' | translate }}</th>
                <th *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                    {{ 'APP_INSTANCES.DOMAIN' | translate }}
                </th>
                <th>{{ 'APP_INSTANCES.OWNER' | translate }}</th>
                <th>{{ 'APP_INSTANCES.DEPLOYED_AT' | translate }}</th>
                <th>{{ 'APP_INSTANCES.STATE' | translate }}</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-appInstance>
            <tr [ngClass]="{'clickable': !userHasGuestRoleInCurrentDomain()}"
                [routerLink]="userHasGuestRoleInCurrentDomain() ? [] : [appInstance.id]">
                <td>{{ appInstance?.name }}</td>
                <td>{{ appInstance?.applicationName }}</td>
                <td>{{ appInstance?.applicationVersion }}</td>
                <td *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                    {{ getDomainNameById(appInstance?.domainId) }}
                </td>
                <td>{{ appInstance?.owner?.username }}</td>
                <td>{{ appInstance?.createdAt | localDate:'dd-MM-yyyy HH:mm' }}</td>
                <td>{{ translateState(appInstance?.state) }}</td>
                <td>
                    <ng-container *ngIf="appInstance?.upgradePossible">
                        <span class="pi pi-arrow-circle-up"></span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-top:40px"  *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']">
    <h4 style="margin-top:40px; font-weight: bold" *ngIf="undeployedVisible">{{ 'APP_INSTANCES.UNDEPLOYED' | translate }}</h4>
    <div style="margin-top:30px" *ngIf="undeployedVisible" class="background-section">
        <p-table [value]="appUndeployedInstances | async | paginate: { itemsPerPage: maxItemsOnPageSec, currentPage: secondPageNumber, id: p_second }"
                 [paginator]="true"
                 [rows]="maxItemsOnPageSec"
                 [rowsPerPageOptions]="[5, 10, 20]"
                 [responsiveLayout]="'scroll'" aria-describedby="Undeployed instances">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ 'APP_INSTANCES.NAME' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.APPLICATION' | translate }}</th>
                    <th *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                        {{ 'APP_INSTANCES.DOMAIN' | translate }}
                    </th>
                    <th>{{ 'APP_INSTANCES.OWNER' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.DEPLOYED_AT' | translate }}</th>
                    <th>{{ 'APP_INSTANCES.STATE' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appInstance>
                <tr [ngClass]="{'clickable': true}" [routerLink]="[appInstance.id]">
                    <td>{{ appInstance?.name }}</td>
                    <td>{{ appInstance?.applicationName }}</td>
                    <td *ngIf="domainId === undefined || domainId === domainService.getGlobalDomainId()">
                        {{ getDomainNameById(appInstance?.domainId) }}
                    </td>
                    <td>{{ appInstance?.owner?.username }}</td>
                    <td>{{ appInstance?.createdAt | localDate:'dd-MM-yyyy HH:mm' }}</td>
                    <td>{{ translateState(appInstance?.state) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
