html, body {
	min-height: 100vh;
}
.vlab-position{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: flex-end;
}
.tab1{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left:10%;
	padding-top: 10%;
	align-items: center;
}
.tab2{
	display: flex;
	width: 50%;
	justify-content: end;
	align-items: end;
}
.logo{
	width: 80%;
}
.text{
	width: 80%;
	font-size: 15px;
	padding:15px 0;
}
.vnoc-position{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.tab2-vnoc{
	display: none;
}

@media screen and (min-width: 700px){
	.vlab-position{
		flex-direction: row;
		align-items: flex-start;
	}
	.tab1{
		width: 50%;
		padding-top: 10%;
	}
	.text{
		font-size: 20px;
	}
	.vnoc-position{
		flex-direction: row;
		align-items: flex-start;
	}
	.tab2-vnoc{
		display: flex;
	}
}
.button{
	text-decoration: none;
	font-weight: bold;
	color:#ffffff;
	border-radius: 30px;
	padding:10px 20px;
}
.button-vNOC{
	background: #DC6E28;
}
.button-vLAB{
	background: #E9A143;
}
.margin2{
	margin: 3rem 0;
}

.shape {
	padding-bottom: 25px;
	border-radius: 100% 100% 0 0;
	background: #FFF6EF;
	height: 100%;
	width: 80%;
	overflow: hidden;
	box-shadow: inset 0 6px 7px rgba(0, 0, 0, .2)
}
.position {
	transform: rotate(-90deg);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	width: 65%;
	background-color: #ffffff;
}
.map {
	height: 80%;
	width: 100%;
}
.cls-1,.cls-2 {
	fill:none;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:3px;
}
.cls-1{
	stroke:#E57002;
}
.cls-2{
	stroke:#EEA054;
}

.line {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: draw 10s infinite alternate;
}
@keyframes draw {
	from {
		stroke-dashoffset: 400;
	}
	to {
		stroke-dashoffset: 0;
	}
}
.panel-group{
	margin: 0;
}
.panel+.panel{
	margin: 0;
}
