:host ::ng-deep .p-dropdown {
        border: none;
}

:host ::ng-deep .p-dropdown-filter-container {
        padding: 7px 2px;
}

.long-list ::ng-deep .p-dropdown-items-wrapper {
        min-height: 300px;
}
