<div class="mt-3 mr-3">
    <p-dropdown *ngIf="domains" [options]="domains" [filter]="domains.length > 10" filterBy="name" [placeholder]="getCurrent()"
                 [style]="{'width': '100% '}" [ngClass]="{'long-list': isItemListLong()}" (onChange)="changeDomain($event)">
        <ng-template let-selected pTemplate="selectedItem">
            {{ 'FILTER.DOMAIN' | translate }} : {{ selected.name }}
        </ng-template>
        <ng-template let-option pTemplate="option">
            {{ option.name }}
        </ng-template>
    </p-dropdown>
</div>
