@media (max-width: 1199px) {
        .dropdown-domains{
                position: relative;
                display: block;
                padding: 10px 15px;
        }
        .dropdown-menu {
        position: static !important;
        float: none !important;
        width: auto !important;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
         }
        .search{
                margin-bottom:10px;
        }
}

@media (min-width: 1199px) {
        .dropdown-domains {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                line-height: 20px !important;
        }

        .search{
                margin:5px 5px 10px 5px;
        }
}

.long-domain-list {
        max-height: 450px;
        overflow-y: auto;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
        background-color: #233354;
        background-image: unset;
}
:host ::ng-deep .p-select{
        background: var(--p-background-0);
        width:100%;
        padding:3px;
        border-radius: 4px;
        border: none;
}
:host ::ng-deep .p-select:hover{
        background: var(--p-primary-50);

}
:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus{
        background: var(--user-button-background-hover);
        color: var(--p-text-0);

}
:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 0.8rem;
}
:host ::ng-deep .p-dropdown-panel{
        margin-top:5px;
        border: none;
}
:host ::ng-deep .p-select-overlay{
        width: 100%;
        background: red;
}
:host ::ng-deep .p-select-label{
        color: var(--p-text-0);
}
