<h4 class="header">{{ 'CLUSTERS.CONFIGURATION' | translate }}</h4>
<div style="display: flex; align-items: center;  margin-top:20px">
    <div style=" display:flex; align-items: center;">
        <p-iconfield class="p-input-icon-right" style="margin-right:20px;">
             <input pInputText class="form-control" name="search" id="search"
                    placeholder="Search" type="text" [(ngModel)]="searchValue"  (ngModelChange)="filterClusters()">
            <p-inputicon class="pi pi-search" style="font-size: 13px;"></p-inputicon>
        </p-iconfield>
        <div >
            <button class="btn btn-primary" [routerLink]="['add']"  >{{'CLUSTERS.ADD' | translate}}</button>
        </div>
    </div>
</div>


    
<div class="background-section">
    <p-table
    [value]="filteredClusters"
    [paginator]="true"
    [rows]="maxItemsOnPage"
    [rowsPerPageOptions]="[15, 20, 25, 30, 50]"
    [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" id="name"> {{ 'CLUSTERS.NAME' | translate }}
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="codename" id="codename"> {{ 'CLUSTERS.CODENAME' | translate }}
                    <p-sortIcon field="codename"></p-sortIcon>
                </th>
                <th pSortableColumn="state" id="state"> {{ 'CLUSTERS.STATE' | translate }}
                    <p-sortIcon field="state"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cluster>
            <tr>
                <td [routerLink]="['view/', cluster.id]">{{cluster.name}}</td>
                <td [routerLink]="['view/',cluster.id]">{{cluster.codename}}</td>
                <td [routerLink]="['view/',cluster.id]">{{('CLUSTERS.'+cluster.state.toString().toUpperCase() ) | translate}}</td>
                <td class="text-right">
                    <button type="button"
                            class="dropdown-button"
                            (click)="openRowMenu($event, cluster)">
                        <i class="pi pi-cog" style="font-size: 1.4rem; color: var(--p-text-0)"></i>
                    </button>
                    <p-menu #rowMenu [popup]="true" appendTo="body" [model]="rowMenuItems"></p-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

