<div class="">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">{{ 'PORTAL_CONFIGURATION.TITLE' | translate }}</p-tab>
            <p-tab value="1">Bulk settings</p-tab>
            <p-tab value="2">{{ 'CLUSTERS.TITLE' | translate }}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="panel-body">
                    @if (this.configuration) {
                        <form (submit)="save()" class="form-horizontal" #configurationForm="ngForm">
                            <div class=" grid col-12">
                                <label for="setMaintenance"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.MAINTENANCE' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <input type="checkbox" id="setMaintenance" name="setMaintenance"
                                           [(ngModel)]="this.configuration.maintenance"
                                           [checked]="this.configuration.maintenance === true">
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="SSOLoginAllowed"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.ALLOW_SSO_LOGIN' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <input type="checkbox" id="SSOLoginAllowed" name="SSOLoginAllowed"
                                           [(ngModel)]="this.configuration.ssoLoginAllowed"
                                           [checked]="this.configuration.ssoLoginAllowed === true">
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="defaultDomainForSsoUsers"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.DEFAULT_DOMAIN_FOR_SSO_USER' | translate }}</label>
                                <div class="col-3">
                                    <select style=" background: var(--p-surface-300); border: 1px solid var(--p-accent-600); color: var(--p-text-0);"
                                            id="defaultLang" #defaultDomainForSsoUsers class="form-control"
                                            name="defaultDomainForSsoUsers"
                                            [(ngModel)]="configuration.defaultDomainForSsoUsers">
                                        <option [ngValue]="null">
                                            {{ 'PORTAL_CONFIGURATION.NULL' | translate }}
                                        </option>
                                        @for (domain of domainForSsoUsers; track domain) {
                                            <option [ngValue]="domain.id">
                                                {{ domain.codename }}
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="defaultLang"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.DEFAULT_LANGUAGE' | translate }}</label>
                                <div class="col-3">
                                    <select style=" background: var(--p-surface-300); border: 1px solid var(--p-accent-600); color: var(--p-text-0);"
                                            id="defaultLang" #langSelect class="form-control"
                                            (change)="this.configuration.defaultLanguage = langSelect.value">
                                        @for (lang of languages; track lang) {
                                            <option [value]="lang.language"
                                                    [selected]="lang.language === configuration.defaultLanguage">{{ 'LANGUAGE.' + lang.language.toUpperCase() + '_LABEL' | translate }}
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="testInstance"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.TEST_INSTANCE' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <input type="checkbox" id="testInstance" name="testInstance"
                                           [(ngModel)]="this.configuration.testInstance"
                                           [checked]="this.configuration.testInstance === true">
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="sendAppInstanceFailureEmails"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.SEND_APP_INSTANCE_FAILURE_EMAILS' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <input type="checkbox" id="sendAppInstanceFailureEmails"
                                           name="sendAppInstanceFailureEmails"
                                           [(ngModel)]="this.configuration.sendAppInstanceFailureEmails">
                                </div>
                            </div>
                            <div class="grid col-12" style="align-items:baseline">
                                <span class="control-label col-3">
                                  <strong>
                                    {{ 'PORTAL_CONFIGURATION.SEND_APP_INSTANCE_FAILURE_EMAILS_LIST' | translate }}
                                  </strong>
                                </span>
                                <div class="col-9 display-emails">
                                    @for (email of configuration.appInstanceFailureEmailList; track trackByFn(i, email); let i = $index) {
                                        <div
                                                class="xl:col-6 lg:col-10 md:col-12 pd-bottom-5 row email-row">
                                            <div class="email-input">
                                                <input pInputText class="form-control" type="text"
                                                       id="appInstanceFailureEmailList.{{i}}"
                                                       name="appInstanceFailureEmailList.{{i}}"
                                                       [(ngModel)]="configuration.appInstanceFailureEmailList[i]"/>
                                            </div>
                                            <button role="button" type="button" class="btn btn-danger-text"
                                                    (click)="removeEmailEntry(email)">
                                                <i class="pi pi-trash" style="font-size: 15px;"></i>
                                            </button>
                                        </div>
                                    }
                                    <div class="" style=" padding: 7px">
                                        <button role="button" type="button" class="btn btn-secondary"
                                                (click)="addEmailEntry()">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <label for="registrationDomainSelectionEnabled"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.DOMAIN_SELECTION_ENABLED' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <input type="checkbox" id="registrationDomainSelectionEnabled"
                                           name="registrationDomainSelectionEnabled"
                                           [(ngModel)]="this.configuration.registrationDomainSelectionEnabled">
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="deploymentPrefix"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.DEPLOYMENT_PREFIX' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <div class="input-width">
                                        <input pInputText class="form-control" type="text" id="deploymentPrefix"
                                               name="deploymentPrefix"
                                               [(ngModel)]="this.configuration.deploymentPrefix">
                                    </div>
                                </div>
                            </div>
                            <div class=" grid col-12">
                                <label for="appInstanceLengthLimit"
                                       class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.APP_INSTANCE_LIMIT' | translate }}</label>
                                <div class="col-9 pd-top-7">
                                    <div class="input-width">
                                        <input pInputText class="form-control" type="number" id="appInstanceLengthLimit"
                                               name="appInstanceLengthLimit"
                                               [(ngModel)]="this.configuration.appInstanceLengthLimit">
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-end">
                                <button class="btn btn-primary"
                                        type="submit">{{ 'PORTAL_CONFIGURATION.SUBMIT_BUTTON' | translate }}
                                </button>
                            </div>
                            @if (errorMsg) {
                                <div class="alert alert-danger" style="margin-top: 5px">
                                    {{ errorMsg }}
                                </div>
                            }
                        </form>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="panel-body">
                    @if (this.configuration) {
                        <form (submit)="save()" class="form-horizontal" #configurationForm="ngForm">
                            <!--                    <div class="panel-default panel-heading"></div>-->
                            <div class="panel-body">
                                <div class="grid col-12">
                                    <label for="bulkDomainsAllowForSsoAccounts"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DOMAINS_ALLOW_FOR_SSO_ACCOUNTS' | translate }}</label>
                                    <div class="col-9 pd-top-7">
                                        <input type="checkbox" id="bulkDomainsAllowForSsoAccounts"
                                               name="bulkDomainsAllowForSsoAccounts"
                                               [(ngModel)]="this.configuration.bulkDomainsAllowForSsoAccounts"
                                               [checked]="this.configuration.bulkDomainsAllowForSsoAccounts === true">
                                    </div>
                                </div>
                                <div class="grid col-12">
                                    <label for="bulkDomainsSendEmailForNewAccounts"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DOMAINS_SEND_EMAIL_FOR_NEW_ACCOUNTS' | translate }}</label>
                                    <div class="col-9 pd-top-7">
                                        <input type="checkbox" id="bulkDomainsSendEmailForNewAccounts"
                                               name="bulkDomainsSendEmailForNewAccounts"
                                               [(ngModel)]="this.configuration.bulkDomainsSendEmailForNewAccounts"
                                               [checked]="this.configuration.bulkDomainsSendEmailForNewAccounts === true">
                                    </div>
                                </div>
                                <div class="grid col-12">
                                    <label for="bulkDeploymentJobCron"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DEPLOYMENT_CRON' | translate }}</label>
                                    <div class="col-9 pd-top-7 ">
                                        <div class="input-width">
                                            <input pInputText class="form-control" type="text"
                                                   id="bulkDeploymentJobCron" name="bulkDeploymentJobCron"
                                                   [(ngModel)]="this.configuration.bulkDeploymentJobCron">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid col-12">
                                    <label for="parallelDeploymentsLimit"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DEPLOYMENT_LIMIT' | translate }}</label>
                                    <div class="col-9 pd-top-7">
                                        <div class="input-width">
                                            <input pInputText class="form-control" type="number"
                                                   id="parallelDeploymentsLimit" name="parallelDeploymentsLimit"
                                                   [(ngModel)]="this.configuration.parallelDeploymentsLimit">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid col-12">
                                    <label for="bulkDeploymentQueueRefresh"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DEPLOYMENT_QUEUE_REFRESH' | translate }}</label>
                                    <div class="col-9 pd-top-7">
                                        <div class="input-width">
                                            <input pInputText class="form-control" type="number"
                                                   id="bulkDeploymentQueueRefresh" name="bulkDeploymentQueueRefresh"
                                                   [(ngModel)]="this.configuration.bulkDeploymentQueueRefresh">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid col-12">
                                    <label for="bulkDeploymentTimeThreshold"
                                           class="col-3 control-label">{{ 'PORTAL_CONFIGURATION.BULK_DEPLOYMENT_THRESHOLD' | translate }}</label>
                                    <div class="col-9 pd-top-7">
                                        <div class="input-width">
                                            <input pInputText class="form-control" type="number"
                                                   id="bulkDeploymentTimeThreshold" name="bulkDeploymentTimeThreshold"
                                                   [(ngModel)]="this.configuration.bulkDeploymentTimeThreshold">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-end">
                                <button class="btn btn-primary"
                                        type="submit">{{ 'PORTAL_CONFIGURATION.SUBMIT_BUTTON' | translate }}
                                </button>
                            </div>
                            @if (errorMsg) {
                                <div class="alert alert-danger" style="margin-top: 5px">
                                    {{ errorMsg }}
                                </div>
                            }
                        </form>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-clusterdetails></app-clusterdetails>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

</div>
