.display-emails {
    display: flex;
    flex-direction: column;
}

.pd-left-15 {
    padding-left: 15px;
}

.pd-bottom-5 {
    padding-bottom: 5px;
}

.email-input {
    width: 70%;
    margin: 0;
}

.email-row {
    display: flex;
    flex-direction: row;

}

.pd-top-7 {
    padding-top: 7px;
}

.input-width {
    width: 50%;
}
.p-tabpanels{
    background-color: var(--p-background-100);
    border-radius: 10px;
}
:host ::ng-deep .p-tablist-tab-list{
    margin-left: 15px;
    background: transparent;
    border: none;
}
.p-tab{
    border-radius: 5px 5px 0 0;
    background-color: var(--p-surface-300);
}
.p-tab-active{
    background-color: var(--p-background-100);
    color: var(--p-text-0);
}
