:host ::ng-deep .p-toast {
  margin-bottom: 40px;
  margin-right: 10px;
  z-index: 999;
  width: 20vw !important;
}


:host ::ng-deep .p-toast .p-toast-message {
  //margin-top: 0;
  //padding-top: 0;
  //position: absolute;
  //bottom: 60px;
  right: 10px;
  width: 20vw;
  border-radius: 12px;
  border:none;
}

:host ::ng-deep  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content {
  padding: 0;
  border-width: 0;
  text-align: left;
  width:100%;
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  right: 3px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
 :host ::ng-deep .p-toast-close-button{
   margin:5px;
   right: unset;
 }
 :host ::ng-deep .p-toast-message-success{
   //background: #ABD0B2;
   //color: var(--p-text-0);
 }
