.tag-button{
    background-color: var(--tag-color);
    color: var(--p-text-300);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    border-radius: 12px;
    cursor: default;
}
.background-section{
    padding:30px;
}

.block-light-gray{
    background-image: linear-gradient(rgba(211, 211, 211, 0.1),rgba(211, 211, 211, 0.1));
    color: black;
    margin-left: 10px;
}

.block-border{
    border-radius: 8px;
}


.no-padding{
    padding: 0;
    border: 0;
}

.disabled-url {
    pointer-events: none;
    cursor: default!important;
    color: gray;
}

