<div class="">
    <div class="background-section" style="color: var(--p-text-0);">
        <p>{{'BULK.APP.INFO' | translate}}</p>
        <div style="margin-top: 2rem;">
            <p-dropdown [options]="apps" optionLabel="name" [(ngModel)]="selectedApp" [filter]="true"></p-dropdown>
        </div>
        <div  style="margin-top: 2rem;">
            <p>{{'BULK.APP.PARALLEL' | translate}}</p>
        </div>
        <div style="margin-top: 2rem;">
            <input pInputText type="number" inputId="minmax" mode="decimal" ngDefaultControl [(ngModel)]="parallelDeploymentsLimit" [max]="limitFromConfiguration" [min]="1"  />
        </div>
    </div>
    <div  style=" display: flex; justify-content: right">
        <button  class="btn btn-primary" [disabled]="!selectedApp || !selectedApp.name  || parallelDeploymentsLimit < 1 || parallelDeploymentsLimit > limitFromConfiguration" (click)="selectApp()"> {{'BULK.LIST.CONTINUE' | translate}}</button>
    </div>
</div>
