<div  *roles="['ROLE_SYSTEM_ADMIN']">
    <div style="display: flex; flex-direction:column">
        <div style="display: flex; flex-wrap: wrap;">
            <div class="background-section" style="flex: 1 1 30%; margin-right: 20px">
                <h5 style="font-weight: bold">Current number of user </h5>
                <h1 style="font-weight: bold">{{ adminData?.userCount}}</h1>
            </div>
            <div class="background-section" style="flex: 1 1 30%; margin-right: 20px">
                <h5 style="font-weight: bold">Current number of domains </h5>
                <h1 style="font-weight: bold">{{ adminData?.domainsCount}}</h1>
            </div>
            <div class="background-section" style="flex: 1 1 30% ;">
                <h5 style="font-weight: bold">Current number of deployed applications </h5>
                <h1 style="font-weight: bold">{{ adminData?.instanceCount}}</h1>
            </div>
        </div>
        <div class="grid" style="display: flex; justify-content: space-between;">
            <div class="background-section width-50 " style="margin-right: 20px">
                <div style="    display: flex; justify-content: space-between;">
                    <h5 style="font-weight: bold">Application deployments <ng-container *ngIf="rangeDates && rangeDates[0] && rangeDates[1]; else lastWeek">
                        from {{ rangeDates[0] | date:'dd.MM.yyyy' }} to {{ rangeDates[1] | date:'dd.MM.yyyy' }}
                    </ng-container>
                        <ng-template #lastWeek>in the last week</ng-template></h5>
                    <p-calendar
                            [(ngModel)]="rangeDates"
                            selectionMode="range"
                            [readonlyInput]="true"
                            (ngModelChange)="onDateChange($event)"

                            showClear="true"
                            dateFormat="dd.mm.yy"
                    />
                </div>

                <p-table [value]="instanceCountInPeriodDetails"   [scrollable]="true" [style]="{'width': '100%', 'max-height': '50vh'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Domain</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-instance>
                        <tr [ngClass]="{'clickable': !userHasGuestRoleInCurrentDomain()}"
                            [routerLink]="userHasGuestRoleInCurrentDomain() ? [] : [instance.id]">
                            <td><img style="width: 40px" [src]="(appImagesService.getAppLogoUrl(instance.appId) | secure) || '../../../assets/images/app-logo-example.png'"/></td>
                            <td>{{instance.applicationName}}</td>
                            <td>{{instance.applicationVersion}}</td>
                            <td>{{instance.domainName}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="width-50" >
                <div class="background-section" style="">
                    <h5 style="font-weight: bold">Most popular applications</h5>
                    <p-chart type="bar" [data]="popularAppsChartData" [options]="basicOptions" width="100%" height="50vh" />
                </div>
            </div>
        </div>
    </div>
</div>
<div *roles="['ROLE_DOMAIN_ADMIN','ROLE_SYSTEM_ADMIN']">
    <div *ngIf="domainId !== 1">
        <div style="display: flex">
            <div class="background-section" style="flex: 1 1 50%; margin-right: 20px">
                <h5 style="font-weight: bold">Last login to the domain </h5>
                <p-table [value]="domainAdminData?.userLogins | keyvalue">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>User</th>
                            <th>Last login</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-login>
                        <tr>
                            <td>{{ login.key }}</td>
                            <td>{{ formatDate(login.value) }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="background-section" style="flex: 1 1 50%;">
                <h5 style="font-weight: bold">Number of deployed applications per user </h5>
                <p-table [value]="domainAdminData?.applicationDeployed | keyvalue">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>User</th>
                            <th>Deployment</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-deployment>
                        <tr>
                            <td>{{ deployment.key }}</td>
                            <td>{{ deployment.value }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="background-section" style="">
            <h5 style="font-weight: bold">Application status</h5>
            <p-table [value]="applicationUpgradeStatus"  [paginator]="true" [rows]="4" [scrollable]="true" [style]="{'width': '100%'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Instance name</th>
                        <th>Version</th>
                        <th>Need upgrade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-app>
                    <tr>
                        <td><img style="width: 40px" [src]="(appImagesService.getAppLogoUrl(app.appId) | secure) || '../../../assets/images/app-logo-example.png'"/></td>
                        <td>{{app.appName}}</td>
                        <td>{{app.appId}}</td>
                        <td>{{app.instanceName}}</td>
                        <td>{{app.appVersion}}</td>
                        <td>{{app.upgradePossible}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
