.container-fluid {
    min-height: 55vh;
    padding: 25px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 700px){
    .container-fluid{
        flex-direction: row;
    }
}
