.deploy-param-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    list-style:none;
}

.margin-right {
    margin-right: 20px;
}

.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--p-background-300);
}

.double-form:last-of-type {
    padding-right: 0;
}

.double-form:first-of-type {
    padding-left: 0;
}

.basic-info-header {
    margin-left: -15px;
}

.button-container {
    padding-right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.button-close{
    background: var(--p-danger-500);
    color: var(--p-text-100);
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    padding:6px;
}
.button-close:hover{
    background: var(--p-danger-600);
}
.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}
