<div class="">
    <div class="background-section">
        <h4 style="font-size:15px; font-weight: bold">{{ 'CLUSTERS.TITLE_GENERAL' | translate }}</h4>
        <div class="panel-body">
            @if (cluster) {
                <form (submit)="submit()" class="form-horizontal" #clusterFormGeneral="ngForm">
                    <div class="panel-default panel-heading">{{ 'CLUSTERS.GENERAL' | translate }}</div>
                    <div class="panel-body">
                        <div class="grid col-12">
                            <label for="clusterId"
                                   class="col-2 control-label">{{ 'CLUSTERS.ID' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="clusterId" name="clusterId"
                                           [(ngModel)]="cluster.id" [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="clusterName"
                                   class="col-2 control-label">{{ 'CLUSTERS.NAME' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="clusterName"
                                           name="clusterName"
                                           [(ngModel)]="cluster.name" [disabled]="isInMode(ComponentMode.VIEW)">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ClusterCodeName"
                                   class="col-2 control-label">{{ 'CLUSTERS.CODENAME' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="ClusterCodeName"
                                           name="ClusterCodeName"
                                           [(ngModel)]="cluster.codename" [disabled]="isInMode(ComponentMode.VIEW)">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="clusterDescription"
                                   class="col-2 control-label">{{ 'CLUSTERS.DESCRIPTION' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="clusterDescription"
                                           name="clusterDescription"
                                           [(ngModel)]="cluster.description" [disabled]="isInMode(ComponentMode.VIEW)">
                                </div>
                            </div>
                        </div>
                        <!-- TODO: Fix selector, show value on init when selectedDomain is null/empty  -->
                        <div class="grid col-12">
                            <label for="clusterCreationDate"
                                   class="col-2 control-label">{{ 'CLUSTERS.DOMAIN' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="clusterDomain"
                                           name="clusterDomain"
                                           [(ngModel)]="selectedDomain" [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="state" class="col-2 control-label">{{ 'CLUSTERS.STATE' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="state" name="state"
                                           placeholder="{{'CLUSTERS.' + cluster.state.toString().toUpperCase()| translate}}"
                                           [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="state"
                                   class="col-2 control-label">{{ 'CLUSTERS.STATE_SINCE' | translate }}</label>
                            <div class="col-8">
                                <div >
                                    <input pInputText type="text" class="form-control" id="state" name="state"
                                           [ngModel]="formatDate(cluster.currentStateSince)" [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="clusterCreationDate"
                                   class="col-2 control-label">{{ 'CLUSTERS.CREATION_DATE' | translate }}</label>
                            <div class="col-8">
                                <div>
                                    <input pInputText type="text" class="form-control" id="clusterCreationDate"
                                           name="clusterCreationDate"
                                           [ngModel]="formatDate(cluster.creationDate)" [disabled]="true">
                                </div>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="clusterModificationnDate"
                                   class="col-2 control-label">{{ 'CLUSTERS.MODIFICATION_DATE' | translate }}</label>
                            <div class="col-8">
                                <div>
                                    <input pInputText type="text" class="form-control" id="clusterModificationnDate"
                                           name="clusterModificationnDate"
                                           [ngModel]="formatDate(cluster.modificationDate) " [disabled]="true">
                                </div>
                            </div>
                        </div>
                        @if (isInMode(ComponentMode.EDIT)) {
                            <div class="grid col-12 flex align-items-start">
                                <label for="clusterKubeConfig"
                                       class="col-2 control-label">{{ 'CLUSTERS.CONFIG_FILE' | translate }}</label>
                                <div class="col-8">
                                    <div>
                                    <textarea pTextarea [autoResize]="false" [rows]="10"  class="form-control" id="clusterKubeConfig" name="clusterKubeConfig"
                                              [(ngModel)]="cluster.configFileContent" [disabled]="false"></textarea>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="">
    <div class="background-section">
        <h4 style="font-size:15px; font-weight: bold">{{ 'CLUSTERS.TITLE' | translate }}</h4>
        <div class="panel-body">
            @if (cluster) {
                <form (submit)="submit()" class="form-horizontal" #clusterForm="ngForm">
                    <div class="panel-default panel-heading">{{ 'CLUSTERS.INGRESS' | translate }}</div>
                    <div class="panel-body">
                        <div class="grid col-12">
                            <label for="ingresscontrollerconfigoption"
                                   class="col-2 control-label">{{ 'CLUSTERS.CONTROLLER_CONFIG_OPTION' | translate }}</label>
                            @if (controllerConfigOption) {
                                <div class="col-10">
                                    <select
                                            class="form-control" id="ingresscontrollerconfigoption"
                                            name="ingresscontrollerconfigoption"
                                            [(ngModel)]="cluster.ingress.controllerConfigOption" [disabled]="isInMode(ComponentMode.VIEW)" required>
                                        @for (entry of certificateConfigOption | keyvalue; track entry.key) {
                                            <option [value]="entry.key">{{ entry.key }}</option>
                                        }
                                    </select>
                                </div>
                            }
                        </div>
                        <div class="grid col-12">
                            <label for="suportedingressclass"
                                   class="col-2 control-label">{{ 'CLUSTERS.SUPPORTED_INGRESS_CLASS' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="suportedingressclass"
                                       name="suportedingressclass"
                                       [(ngModel)]="cluster.ingress.supportedIngressClass" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="publicingressclass"
                                   class="col-2 control-label">{{ 'CLUSTERS.PUBLIC_INGRESS_CLASS' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="publicingressclass"
                                       name="publicingressclass"
                                       [(ngModel)]="cluster.ingress.publicIngressClass" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingresscontrollerchartname"
                                   class="col-2 control-label">{{ 'CLUSTERS.CONTROLLER_CHART_NAME' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="ingresscontrollerchartname"
                                       name="ingresscontrollerchartname"
                                       [(ngModel)]="cluster.ingress.controllerChartName" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingresscontrollerchartarchive"
                                   class="col-2 control-label">{{ 'CLUSTERS.CONTROLLER_CHART_ARCHIVE' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="ingresscontrollerchartarchive"
                                       name="ingresscontrollerchartarchive"
                                       [(ngModel)]="cluster.ingress.controllerChartArchive" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingressresourceconfigoption"
                                   class="col-2 control-label">{{ 'CLUSTERS.RESOURCE_CONFIG_OPTION' | translate }}</label>
                            <div class="col-10">
                                <select
                                        class="form-control" id="ingressresourceconfigoption"
                                        name="ingressresourceconfigoption"
                                        [(ngModel)]="cluster.ingress.resourceConfigOption" [disabled]="isInMode(ComponentMode.VIEW)" required>
                                    @for (entry of certificateConfigOption | keyvalue; track entry.key) {
                                        <option [value]="entry.key">{{ entry.key }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingressexternalservicedomain"
                                   class="col-2 control-label">{{ 'CLUSTERS.EXTERNAL_SERVICE_DOMAIN' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="ingressexternalservicedomain"
                                       name="ingressexternalservicedomain"
                                       [(ngModel)]="cluster.ingress.externalServiceDomain" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingresspublicservicedomain"
                                   class="col-2 control-label">{{ 'CLUSTERS.PUBLIC_SERVICE_DOMAIN' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="ingresspublicservicedomain"
                                       name="ingresspublicservicedomain"
                                       [(ngModel)]="cluster.ingress.publicServiceDomain" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="ingresstlssupported"
                                   class="col-2 control-label">{{ 'CLUSTERS.TLS_SUPPORTED' | translate }}</label>
                            <div class="col-10">
                                <input type="checkbox" id="ingresstlssupported" name="ingresstlssupported"
                                       [(ngModel)]="cluster.ingress.tlsSupported"
                                       [checked]="cluster.ingress.tlsSupported == true" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        @if (cluster.ingress.tlsSupported) {
                            <div class="grid col-12">
                                <label for="ingresscertificateconfigoption"
                                       class="col-2 control-label">{{ 'CLUSTERS.INGRESS_CERTIFICATE_CONFIG_OPTION' | translate }}</label>
                                <div class="col-10">
                                    <select
                                            class="form-control" id="ingresscertificateconfigoption"
                                            name="ingresscertificateconfigoption"
                                            [(ngModel)]="cluster.ingress.certificateConfigOption" [disabled]="isInMode(ComponentMode.VIEW)"
                                            required>
                                        @for (entry of certificateConfigOption | keyvalue; track entry.key) {
                                            <option [value]="entry.key">{{ entry.key }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        @if (cluster.ingress.tlsSupported) {
                            <div class="grid col-12">
                                <label for="ingressissuerorwildcardname"
                                       class="col-2 control-label">{{ 'CLUSTERS.INGRESS_ISSUER_OR_WILDCARD_NAME' | translate }}</label>
                                <div class="col-10">
                                    <input pInputText type="text" class="form-control" id="ingressissuerorwildcardname"
                                           name="ingressissuerorwildcardname"
                                           [(ngModel)]="cluster.ingress.issuerOrWildcardName" [disabled]="isInMode(ComponentMode.VIEW)">
                                </div>
                            </div>
                        }
                        <div class="grid col-12">
                            <label for="ingressperdomain"
                                   class="col-2 control-label">{{ 'CLUSTERS.INGRESS_PER_DOMAIN' | translate }}</label>
                            <div class="col-10">
                                <input type="checkbox" id="ingressperdomain" name="ingressperdomain"
                                       [(ngModel)]="cluster.ingress.ingressPerDomain"
                                       [checked]="cluster.ingress.ingressPerDomain == true" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                    </div>
                    <div class="panel-default panel-heading">{{ 'CLUSTERS.DEPLOYMENT' | translate }}</div>
                    <div class="panel-body">
                        <div class="grid col-12">
                            <label for="deploymentnamespaceconfigoption"
                                   class="col-2 control-label">{{ 'CLUSTERS.NAMESPACE_CONFIG_OPTION' | translate }}</label>
                            @if (controllerConfigOption) {
                                <div class="col-10">
                                    <select
                                            class="form-control" id="deploymentnamespaceconfigoption"
                                            name="deploymentnamespaceconfigoption"
                                            [(ngModel)]="cluster.deployment.namespaceConfigOption" [disabled]="isInMode(ComponentMode.VIEW)"
                                            required>
                                        @for (entry of certificateConfigOption | keyvalue; track entry.key) {
                                            <option [value]="entry.key">{{ entry.key }}</option>
                                        }
                                    </select>
                                </div>
                            }
                        </div>
                        <div class="grid col-12">
                            <label for="deploymentdefaultnamespace"
                                   class="col-2 control-label">{{ 'CLUSTERS.DEFAULT_NAMESPACE' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="deploymentdefaultnamespace"
                                       name="deploymentdefaultnamespace" #namespace="ngModel" pattern="[a-z-]*"
                                       maxlength="64"
                                       [(ngModel)]="cluster.deployment.defaultNamespace" [disabled]="isInMode(ComponentMode.VIEW)">
                                @if (namespace.invalid && (namespace.dirty || namespace.touched)) {
                                    <div class="alert alert-danger">
                                        @if (namespace.errors.pattern) {
                                            <div>{{ 'CLUSTERS.NAMESPACE_PATTERN_VALIDATION_MESSAGE' | translate }}</div>
                                        }
                                        @if (namespace.errors.maxlength) {
                                            <div>{{ 'CLUSTERS.NAMESPACE_MAX_LENGTH_VALIDATION_MESSAGE' | translate }}</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="deploymentdefaultstorageclass"
                                   class="col-2 control-label">{{ 'CLUSTERS.DEFAULT_STORAGE_CLASS' | translate }}</label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="deploymentdefaultstorageclass"
                                       name="deploymentdefaultstorageclass"
                                       [(ngModel)]="cluster.deployment.defaultStorageClass" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="forceDedicatedWorkers"
                                   class="col-2 control-label">{{ 'CLUSTERS.FORCE_DEDICATED_WORKERS' | translate }}</label>
                            <div class="col-10">
                                <input type="checkbox" id="forceDedicatedWorkers" name="forceDedicatedWorkers"
                                       [(ngModel)]="cluster.deployment.forceDedicatedWorkers"
                                       [checked]="cluster.deployment.forceDedicatedWorkers == true"
                                       [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="smtpServerHostname"
                                   class="col-2 control-label">{{ 'CLUSTERS.SMTP_SERVER_HOSTNAME' | translate }}
                                : </label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="smtpServerHostname"
                                       name="smtpServerHostname"
                                       [(ngModel)]="cluster.deployment.smtpServerHostname" [disabled]="isInMode(ComponentMode.VIEW)" required
                                       #smtpServerHostname="ngModel">
                                @if (smtpServerHostname.invalid && (smtpServerHostname.dirty || smtpServerHostname.touched)) {
                                    <div class="alert alert-danger">
                                        @if (smtpServerHostname.errors.required) {
                                            <div>SMTP server hostname is required</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="smtpServerPort"
                                   class="col-2 control-label">{{ 'CLUSTERS.SMTP_SERVER_PORT' | translate }}
                                : </label>
                            <div class="col-10">
                                <input pInputText type="number" class="form-control no-spin" id="smtpServerPort"
                                       name="smtpServerPort"
                                       [(ngModel)]="cluster.deployment.smtpServerPort" [disabled]="isInMode(ComponentMode.VIEW)" required
                                       #smtpServerPort="ngModel">
                                @if (smtpServerPort.invalid && (smtpServerPort.dirty || smtpServerPort.touched)) {
                                    <div class="alert alert-danger">
                                        @if (smtpServerPort.errors.required) {
                                            <div>SMTP server port is required</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="smtpServerUsername"
                                   class="col-2 control-label">{{ 'CLUSTERS.SMTP_SERVER_USERNAME' | translate }}
                                : </label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="smtpServerUsername"
                                       name="smtpServerUsername"
                                       [(ngModel)]="cluster.deployment.smtpServerUsername" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="smtpServerPass"
                                   class="col-2 control-label">{{ 'CLUSTERS.SMTP_SERVER_PASSWORD' | translate }}
                                : </label>
                            <div class="col-10">
                                <input pInputText type="password" class="form-control" id="smtpServerPass"
                                       name="smtpServerPass"
                                       [(ngModel)]="cluster.deployment.smtpServerPassword" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                        <div class="grid col-12">
                            <label for="smtpFromDefaultDomain"
                                   class="col-2 control-label">{{ 'CLUSTERS.SMTP_FROM_DEFAULT_DOMAIN' | translate }}
                                : </label>
                            <div class="col-10">
                                <input pInputText type="text" class="form-control" id="smtpFromDefaultDomain"
                                       name="smtpFromDefaultDomain"
                                       [(ngModel)]="cluster.deployment.smtpFromDefaultDomain" [disabled]="isInMode(ComponentMode.VIEW)">
                            </div>
                        </div>
                    </div>
                    <!-- Hide external networks section -->
                    <div [hidden]="true"
                         class="panel-default panel-heading">{{ 'CLUSTERS.EXTERNAL_NETWORKS' | translate }}
                    </div>
                    <div [hidden]="true" class="panel-body">
                        <table class="table table-hover table-condensed" aria-describedby="Clusters details table">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'CLUSTERS.ADDRESS' | translate }}</th>
                                <th scope="col">{{ 'CLUSTERS.NETWORK' | translate }}</th>
                                <th scope="col">{{ 'CLUSTERS.NETMASK_LENGTH' | translate }}</th>
                                <th scope="col">{{ 'CLUSTERS.ASSIGNED' | translate }}</th>
                                <th scope="col">{{ 'CLUSTERS.ASSIGNED_SINCE' | translate }}</th>
                                <th scope="col">{{ 'CLUSTERS.ASSIGNED_TO' | translate }}</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                                @for (extnetwork of cluster.externalNetworks; track extnetwork; let i = $index) {
                                    <ng-template let-extnetwork [ngForOf]="cluster.externalNetworks" let-i="index"
                                                 [ngForTrackBy]="">
                                        <tr>
                                            <td>
                                                <input pInputText type="text" class="form-control"
                                                       [name]="'extnetextip'+i"
                                                       [(ngModel)]="extnetwork.externalIp" [disabled]="isInMode(ComponentMode.VIEW)" required
                                                       pattern="[0-9.]*" #ip="ngModel">
                                                @if (ip.invalid && (ip.dirty || ip.touched)) {
                                                    <div class="alert alert-danger">
                                                        @if (ip.errors.required) {
                                                            <div>{{ 'CLUSTERS.IP_REQUIRED_MESSAGE' | translate }}</div>
                                                        }
                                                        @if (ip.errors.pattern) {
                                                            <div>{{ 'CLUSTERS.IP_VALIDATION_MESSAGE' | translate }}</div>
                                                        }
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <input pInputText type="text" class="form-control"
                                                       [name]="'extnetextnet'+i"
                                                       [(ngModel)]="extnetwork.externalNetwork" [disabled]="isInMode(ComponentMode.VIEW)" required
                                                       pattern="[0-9.]*" #network="ngModel">
                                                @if (network.invalid && (network.dirty || network.touched)) {
                                                    <div class="alert alert-danger">
                                                        @if (network.errors.required) {
                                                            <div>{{ 'CLUSTERS.NETWORK_REQUIRED_MESSAGE' | translate }}</div>
                                                        }
                                                        @if (network.errors.pattern) {
                                                            <div>{{ 'CLUSTERS.NETWORK_ADDRESS_VALIDATION_MESSAGE' | translate }}</div>
                                                        }
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <input pInputText type="text" class="form-control"
                                                       [name]="'extnetmask'+i"
                                                       [(ngModel)]="extnetwork.externalNetworkMaskLength" [disabled]="isInMode(ComponentMode.VIEW)"
                                                       min="0" max="32" #mask="ngModel">
                                                @if (mask.invalid && (mask.dirty || mask.touched)) {
                                                    <div class="alert alert-danger">
                                                        @if (mask.errors.min || mask.errors.max) {
                                                            <div>{{ 'CLUSTERS.MASK_VALIDATION_MESSAGE' | translate }}</div>
                                                        }
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <input type="checkbox" [name]="'extnetassigned'+i"
                                                       [(ngModel)]="extnetwork.assigned"
                                                       [checked]="extnetwork.assigned == true" [disabled]="isInMode(ComponentMode.VIEW)">
                                            </td>
                                            <td>
                                                <input pInputText type="text" class="form-control"
                                                       [name]="'extnetassince'+i"
                                                       [(ngModel)]="extnetwork.assignedSince"
                                                       [disabled]=" !extnetwork.assigned">
                                            </td>
                                            <td>
                                                <input pInputText type="text" class="form-control"
                                                       [name]="'extnetassto'+i"
                                                       [(ngModel)]="extnetwork.assignedTo"
                                                       [disabled]=" !extnetwork.assigned">
                                            </td>
                                            <td class="text-right">

                                                <button type="button" class="btn btn-sm btn-danger"
                                                        (click)="removeNetwork(extnetwork.id)">{{ 'CLUSTERS.REMOVE_BUTTON' | translate }}
                                                </button>

                                            </td>
                                        </tr>
                                    </ng-template>
                                }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-secondary"
                                            (click)="addNetwork()">{{ 'CLUSTERS.ADD_BUTTON' | translate }}
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    @if (this.error) {
                        <div class="alert alert-danger">
                            <p>{{ this.error }}</p>
                        </div>
                    }
                    <div class="flex justify-content-end">
                        @if (!isInMode(ComponentMode.VIEW)) {
                            <button [disabled]="!clusterForm.form.valid" type="submit" class="btn btn-primary"
                                    type="submit">{{ 'PORTAL_CONFIGURATION.SUBMIT_BUTTON' | translate }}
                            </button>
                        }
                    </div>
                    <!-- <button
                  class="btn btn-primary">{{ 'CLUSTERS.SUBMIT_BUTTON' | translate }}</button> -->
                </form>
            }
        </div>
    </div>
</div>
