.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

tr.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.align-vertically {
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host ::ng-deep .p-dropdown {
    width: 170px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

li::marker {
    content: '';
    font-size: 0em;
}
