<div class="col-sm-12 col-sm-10  col-md-12">
    <h3>
        {{ 'USERS.TITLE' | translate }}</h3>
    <div class="flex space-between">
        <div class="flex">
            {{ 'DOMAINS.ITEMS_PER_PAGE' | translate }}:
            <span id="selectionItems" class="dropdown" style="vertical-align: middle; display: inline-block; margin-right: 1rem;">
        <button class="dropdown-toggle btn" data-toggle="dropdown" data-close-others="true">
            {{maxItemsOnPage}}
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let item of itemsPerPage" [ngClass]="{'active': maxItemsOnPage == item}">
                <a (click)="setItems(item)">
                    <span>{{item.toString()}}</span>
                </a>
            </li>
        </ul>
    </span>
        </div>
        <div class="flex">
            <input pInputText name="searchText" id="searchText" placeholder="Search" type="text"  class="form-control" (keyup)="searchUsers($event.target.value)">
        </div>
    </div>

    <br>
    <table class="table table-hover table-condensed" sortable-table (sorted)="onSorted($event)"
           aria-describedby="Users list" style="margin-top: 15px">
        <thead>
        <tr>
            <th scope="col" class="column-sortable" sortable-column="username"
                sort-direction="asc">{{ 'USERS.USER_NAME' | translate }}</th>
            <th scope="col" class="column-sortable" sortable-column="lastname">{{'USERS.NAME' | translate}}</th>
            <th *ngIf="!domainMode" scope="col" class="column-sortable"
                sortable-column="email">{{'USERS.EMAIL' | translate}}</th>
            <th scope="col" class="column-sortable" sortable-column="domains"
                *ngIf="domainId === domainService.getGlobalDomainId()">{{ 'USERS.DOMAINS' | translate }}</th>
            <th scope="col" class="column-sortable" sortable-column="globalRole"
                *ngIf="domainId === domainService.getGlobalDomainId()">{{ 'USERS.GLOBAL_ROLE' | translate }}</th>
            <th scope="col" class="column-sortable" sortable-column="roles"
                *ngIf="domainId !== domainService.getGlobalDomainId() && !isModeAllowed(ComponentMode.EDIT)">{{ 'USERS.ROLES' | translate }}</th>
            <th scope="col" class="column-sortable" *ngIf="!isModeAllowed(ComponentMode.EDIT) && !domainMode"
                sortable-column="firstLoginDate">{{ 'USERS.FIRST_LOGIN' | translate }}</th>
            <th scope="col" class="column-sortable" *ngIf="!isModeAllowed(ComponentMode.EDIT) && !domainMode"
                sortable-column="lastSuccessfulLoginDate">{{ 'USERS.LAST_SUCCESSFUL_LOGIN' | translate }}</th>
            <th scope="col" class="column-sortable" sortable-column="enabled">{{ 'USERS.ENABLED' | translate }}</th>
            <th *ngIf="!isModeAllowed(ComponentMode.EDIT)" scope="col">&nbsp;</th>
            <th *ngIf="isModeAllowed(ComponentMode.EDIT)" scope="col">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let user of displayUsers | paginate: {itemsPerPage: maxItemsOnPage, currentPage: pageNumber, id: paginatorName}"
            [ngClass]="{'clickable!' : domainMode}" (click)="view(user.id)">
            <td>{{user.username}}</td>
            <td>{{(user.firstname || '') + ' ' + (user.lastname || '')}}</td>
            <td *ngIf="!domainMode">{{user.email}}</td>
            <td *ngIf="domainId === domainService.getGlobalDomainId()">
                <div *ngFor="let role of filterDomainNames(user); last as isLast">
					<span *ngIf="!isLast" style="float:left;padding-right: 3px">
						{{getDomainName(role.domainId) | async}},
					</span>
                    <span *ngIf="isLast" style="float:left;padding-right: 3px">
						{{getDomainName(role.domainId) | async}}
					</span>
                </div>
                <br>
            </td>
            <td *ngIf="domainId === domainService.getGlobalDomainId()">
                <span>{{"ENUM.USER_ROLES." + getGlobalRole(user).toUpperCase() | translate}}</span>
            </td>
            <td *ngIf="domainId !== domainService.getGlobalDomainId() && !isModeAllowed(ComponentMode.EDIT)">
                <div *roles="['ROLE_DOMAIN_ADMIN']">
                    <div *ngIf="!checkUserIfIsCurrentUser(user.username)">
                        <p-dropdown [options]="getAllowedRoles()" (onChange)="changeUserRole(user,domainId, $event)">
                            <ng-template pTemplate="selectedItem">
                            <span *ngFor="let roles of getOnlyDomainRoles(user)">
                                {{"ENUM.USER_ROLES." + roles.role.toUpperCase() | translate}}
                            </span>
                            </ng-template>
                            <ng-template let-role pTemplate="item">
                                {{"ENUM.USER_ROLES." + Role[role].toUpperCase() | translate}}
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div *roles="['ROLE_SYSTEM_ADMIN']">
                 <span *ngFor="let roles of getOnlyDomainRoles(user)">
                                {{"ENUM.USER_ROLES." + roles.role.toUpperCase() | translate}}
                     </span>
                </div>
                <div *roles="['ROLE_DOMAIN_ADMIN']">
                    <div *ngIf="checkUserIfIsCurrentUser(user.username)">
                     <span *ngFor="let roles of getOnlyDomainRoles(user)">
                                {{"ENUM.USER_ROLES." + roles.role.toUpperCase() | translate}}
                     </span>
                    </div>
                </div>
            </td>
            <td *ngIf="!isModeAllowed(ComponentMode.EDIT) && !domainMode">{{user.firstLoginDate | date:'dd-MM-yyyy HH:mm'}}</td>
            <td *ngIf="!isModeAllowed(ComponentMode.EDIT) && !domainMode">{{user.lastSuccessfulLoginDate | date:'dd-MM-yyyy HH:mm'}}</td>
            <td>
                <span class="glyphicon glyphicon-ok" *ngIf="user?.enabled"></span>
                <span class="glyphicon glyphicon-remove" *ngIf="!(user?.enabled)"></span>
            </td>
            <td *ngIf="!domainMode && !isModeAllowed(ComponentMode.EDIT)">
                <span class="dropdown">
						<a style="display: inline-block" class="dropdown-toggle " aria-expanded="false"
                           aria-haspopup="true"
                           data-toggle="dropdown" href="#" role="button">
							<em class="fas fa-cog icon-black icon-bigger"></em>
						</a>
						<ul class="dropdown-menu pull-right-drop">
                            <li>
                                <a (click)="view(user.id);$event.stopPropagation()"
                                   *ngIf="isModeAllowed(ComponentMode.VIEW)">
                                    {{ 'USERS.DETAILS_BUTTON' | translate }}
                                </a>
                            </li>
							<li>
								<a (click)="changeUserStatus(user, false);$event.stopPropagation()"
                                   *ngIf="user.enabled && authService.hasRole('ROLE_SYSTEM_ADMIN') && user.username!==authService.getUsername()"> <!--user should not be able to disable himself -->
                                    {{ 'USERS.DISABLE_BUTTON' | translate }}</a>
							</li>
							<li>
								<a (click)="changeUserStatus(user, true);$event.stopPropagation()"
                                   *ngIf="!user.enabled && authService.hasRole('ROLE_SYSTEM_ADMIN')">
									{{ 'USERS.ENABLE_BUTTON' | translate }}</a>
							</li>
                            <li>
                                <a *ngIf="isModeAllowed(ComponentMode.EDIT) &&
                                    domainId != domainService.getGlobalDomainId() &&
                                    isGlobalGuestAndHasNoRoleInThisDomain(user)"
                                   (click)="addToCurrentDomain(user);$event.stopPropagation()">{{'USERS.GRANT_USER_ROLE_IN_CURRENT_DOMAIN_BUTTON' | translate}}</a>
                            </li>
							<li>
								<a role="button"
                                   *ngIf="isModeAllowed(ComponentMode.DELETE) && domainId != domainService.getGlobalDomainId() && user.username!==authService.getUsername()"
                                   (click)="onRemoveFromDomain.emit(user);$event.stopPropagation()">{{ 'USERS.REMOVE_FROM_DOMAIN_BUTTON' | translate }}</a>
							</li>
                            <li>
                                <a role="button"
                                   *ngIf="isModeAllowed(ComponentMode.DELETE) && authService.hasRole('ROLE_SYSTEM_ADMIN') && user.username!==authService.getUsername() && canUserBeDeleted(user)"
                                   (click)="onDelete.emit(user);$event.stopPropagation()">{{ 'USERS.DELETE_BUTTON' | translate }}</a>
                            </li>
						</ul>
					</span>
            </td>
            <td *ngIf="domainMode && !isModeAllowed(ComponentMode.EDIT)">
                <span *ngIf="!checkUserIfIsCurrentUser(user.username)">
                    <a style="display: inline-block" class="" aria-expanded="false"
                       aria-haspopup="true" role="button"
                       (click)="onRemoveFromDomain.emit(user);$event.stopPropagation()">
							<em class="fas fa-trash icon-black "></em>
						</a>
                </span>
            </td>
            <td *ngIf="isModeAllowed(ComponentMode.EDIT)" style="width: 170px">
                <button class="btn btn-success" role="button"
                        (click)="addToCurrentDomain(user)"> {{'USERS.ADD_TO_DOMAIN_BUTTON' | translate}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination-controls class="text-right" (pageChange)="pageNumber = $event" id="{{ paginatorName }}"
                         previousLabel="{{ 'PAGINATION.PREVIOUS' | translate }}"
                         nextLabel="{{ 'PAGINATION.NEXT' | translate }}"
                         screenReaderPaginationLabel="{{ 'PAGINATION.SCREEN_READER.PAGINATION' | translate }}"
                         screenReaderPageLabel="{{ 'PAGINATION.SCREEN_READER.PAGE' | translate }}"
                         screenReaderCurrentLabel="{{ 'PAGINATION.SCREEN_READER.CURRENT' | translate }}"></pagination-controls>
</div>

